In [1]:
import pandas as pd
import datetime
import re
import numpy as np

In [ ]:
df_vol = pd.read_excel('PH_Palay_Vol_Provinces.xlsx')[1:]

In [ ]:
df_vol = df_vol.rename(columns = {'Unnamed: 0':'Province','Unnamed: 1':'Year','Unnamed: 2':'Quarter','Unnamed: 3':'Volume (metric tons)'})

In [ ]:
df_vol['Province'] = df_vol.apply(lambda x: re.sub('\.\.\.\.', '', x.Province).strip(), axis = 1)
df_vol['Province'] = df_vol.apply(lambda x: re.sub('\.\.', '', x.Province).strip(), axis = 1)

In [ ]:
df_vol['Year'] = df_vol['Year'].astype(int)
df_vol['Year'] = df_vol['Year'].apply(lambda x: pd.to_datetime(str(x), format='%Y%'))
df_vol['Year'] = df_vol['Year'].dt.year

In [ ]:
df_vol['Volume (metric tons)'] = df_vol['Volume (metric tons)'].replace('', np.nan)
df_vol['Volume (metric tons)'] = df_vol['Volume (metric tons)'].replace(0, np.nan)

In [ ]:
df_vol.head(1420)

In [ ]:
df_vol.info()

In [ ]:
df_harvest = pd.read_excel('PH_Palay_Area_Harvested_Provinces.xlsx')[1:]
df_harvest

In [ ]:
df_harvest = df_harvest.rename(columns = {'Unnamed: 0':'Province','Unnamed: 1':'Year','Unnamed: 2':'Quarter','Unnamed: 3':'Area Harvested (ha)'})
df_harvest['Province'] = df_vol['Province']
df_harvest['Year'] = df_vol['Year']

In [ ]:
df_harvest['Area Harvested (ha)'] = df_harvest['Area Harvested (ha)'].replace('..', np.nan)
df_harvest['Area Harvested (ha)'] = df_harvest['Area Harvested (ha)'].replace(0, np.nan)

In [ ]:
df1 = df_vol.merge(df_harvest, how = 'outer')

In [ ]:
df1 = df1.dropna()

In [ ]:
df1.info()

In [ ]:
df2 = df1.copy()

In [ ]:
df2['yield (kg/ha)'] = 1000 * df2['Volume (metric tons)'] / df2['Area Harvested (ha)']

In [ ]:
df2 = df2.reset_index()

In [ ]:
df2 = df2.drop(columns = ['index'])
df2

In [ ]:
df_frtlzr = pd.read_excel('PH_Fertilizer.xlsx')[2:]
df_frtlzr

In [ ]:
df_frtlzr = df_frtlzr.rename(columns = {'Unnamed: 0':'Region', 'Unnamed: 1':'Year', 'Unnamed: 2':'Fertilizer Applied (bags)'})
df_frtlzr.info()

In [ ]:
df_frtlzr['Region'] = df_frtlzr.apply(lambda x: re.sub('\.\.', '', x.Region).strip(), axis = 1)
df_frtlzr['Region'] = df_frtlzr.apply(lambda x: re.sub('\(.*?\)', '', x.Region).strip(), axis = 1)

In [ ]:
df_frtlzr

In [2]:
Reg_CAR = ['Abra', 'Apayao', 'Benguet', 'Ifugao', 'Kalinga', 'Mountain Province']
Reg_1 = ['Ilocos Norte', 'Ilocos Sur', 'La Union', 'Pangasinan']
Reg_2 = ['Batanes', 'Cagayan', 'Isabela', 'Nueva Vizcaya', 'Quirino']
Reg_3 = ['Aurora', 'Bataan', 'Bulacan', 'Nueva Ecija', 'Pampanga', 'Tarlac', 'Zambales']
Reg_4A = ['Batangas', 'Cavite', 'Laguna', 'Quezon', 'Rizal']
Reg_4B = ['Marinduque', 'Occidental Mindoro', 'Oriental Mindoro', 'Palawan', 'Romblon']
Reg_5 = ['Albay','Camarines Norte', 'Camarines Sur', 'Catanduanes', 'Masbate', 'Sorsogon']
Reg_6 = ['Aklan', 'Antique', 'Capiz', 'Guimaras', 'Iloilo', 'Negros Occidental']
Reg_7 = ['Bohol', 'Cebu', 'Negros Oriental', 'Siquijor']
Reg_8 = ['Biliran', 'Eastern Samar', 'Leyte', 'Northern Samar', 'Samar', 'Southern Leyte']
Reg_9 = ['Zamboanga del Norte', 'Zamboanga del Sur', 'Zamboanga Sibugay', 'City of Zamboanga']
Reg_10 = ['Bukidnon', 'Camiguin', 'Lanao del Norte', 'Misamis Occidental', 'Misamis Oriental']
Reg_11 = ['Compostela Valley', 'Davao del Norte', 'Davao del Sur', 'Davao Occidental','Davao Oriental', 'City of Davao']
Reg_12 = ['Cotabato', 'Sarangani', 'Sultan Kudarat', 'South Cotabato']
Reg_13 = ['Agusan del Norte', 'Agusan del Sur', 'Dinagat Islands', 'Surigao del Norte', 'Surigao del Sur']
Reg_ARMM = ['Basilan', 'Lanao del Sur', 'Maguindanao', 'Sulu', 'Tawi-tawi']

In [ ]:
df2['Region'] = ""
for i in range(0, 10191):
    if df2['Province'][i] in Reg_CAR:
        df2['Region'][i] = df2['Region'][i].replace('','CORDILLERA ADMINISTRATIVE REGION')
    elif df2['Province'][i] in Reg_1:
        df2['Region'][i] = df2['Region'][i].replace('','REGION I')
    elif df2['Province'][i] in Reg_2:
        df2['Region'][i] = df2['Region'][i].replace('','REGION II')
    elif df2['Province'][i] in Reg_3:
        df2['Region'][i] = df2['Region'][i].replace('','REGION III')
    elif df2['Province'][i] in Reg_4A:
        df2['Region'][i] = df2['Region'][i].replace('','REGION IV-A')
    elif df2['Province'][i] in Reg_4B:
        df2['Region'][i] = df2['Region'][i].replace('','MIMAROPA REGION')
    elif df2['Province'][i] in Reg_5:
        df2['Region'][i] = df2['Region'][i].replace('','REGION V')
    elif df2['Province'][i] in Reg_6:
        df2['Region'][i] = df2['Region'][i].replace('','REGION VI')
    elif df2['Province'][i] in Reg_7:
        df2['Region'][i] = df2['Region'][i].replace('','REGION VII')
    elif df2['Province'][i] in Reg_8:
        df2['Region'][i] = df2['Region'][i].replace('','REGION VIII')
    elif df2['Province'][i] in Reg_9:
        df2['Region'][i] = df2['Region'][i].replace('','REGION IX')
    elif df2['Province'][i] in Reg_10:
        df2['Region'][i] = df2['Region'][i].replace('','REGION X')
    elif df2['Province'][i] in Reg_11:
        df2['Region'][i] = df2['Region'][i].replace('','REGION XI')
    elif df2['Province'][i] in Reg_12:
        df2['Region'][i] = df2['Region'][i].replace('','REGION XII')
    elif df2['Province'][i] in Reg_13:
        df2['Region'][i] = df2['Region'][i].replace('','REGION XIII')
    elif df2['Province'][i] in Reg_ARMM:
         df2['Region'][i] = df2['Region'][i].replace('','AUTONOMOUS REGION IN MUSLIM MINDANAO')

In [ ]:
df2['Region'].unique()

In [ ]:
df3 = pd.merge(df2, df_frtlzr, how = 'outer')
df3

In [ ]:
df3['Fertilizer Applied (bags)'].replace('..',np.nan)

In [ ]:
df4 = df3.copy()

In [ ]:
df4['Fertilizer Applied (bags)'] = df4['Fertilizer Applied (bags)'].replace('..',np.nan)
df4['Volume (metric tons)'] = df4['Volume (metric tons)'].astype(float)
df4['yield (kg/ha)'] = df4['yield (kg/ha)'].astype(float)
df4['Fertilizer Applied (bags)'] = df4['Fertilizer Applied (bags)'].astype(float)

In [ ]:
df4.info()

In [ ]:
df4.groupby(['Region','Year'])['Fertilizer Applied (bags)'].mean()

In [ ]:
regions = ['CORDILLERA ADMINISTRATIVE REGION',
           'AUTONOMOUS REGION IN MUSLIM MINDANAO',
           'MIMAROPA REGION',
           'REGION I',
           'REGION II',
           'REGION III',
           'REGION IV-A',
           'REGION IX',
           'REGION V',
           'REGION VI',
           'REGION VII',
           'REGION VIII',
           'REGION X',
           'REGION XI',
           'REGION XII',
           'REGION XIII']
for i in regions:
    df4[df4['Region']==i] = df4[df4['Region']==i].fillna(df4[df4['Region']==i]['Fertilizer Applied (bags)'].mean())

In [ ]:
df4['Fertilizer Applied (bags)'] = df4['Fertilizer Applied (bags)']/4
df4

In [ ]:
df_eqp = pd.read_excel('PH_Farm_Equipment_Prov.xlsx')[2:]
df_eqp

In [ ]:
df_eqp = df_eqp.rename(columns = {'Unnamed: 0':'Region', 'Unnamed: 1':'Year', 'Unnamed: 2':'Plow', 'Unnamed: 3': 'Harrow', 'Unnamed: 4': 'Sprayers', 'Unnamed: 5': 'Tractors'})
df_eqp

In [ ]:
df_eqp['Year'] = df_eqp['Year'].astype(int)
df_eqp['Year'] = df_eqp['Year'].apply(lambda x: pd.to_datetime(str(x), format='%Y%'))
df_eqp['Year'] = df_eqp['Year'].dt.year
df_eqp['Plow'] = df_eqp['Plow'].astype(int)
df_eqp['Harrow'] = df_eqp['Harrow'].astype(int)
df_eqp['Sprayers'] = df_eqp['Sprayers'].astype(int)
df_eqp['Tractors'] = df_eqp['Tractors'].astype(int)

In [ ]:
df_eqp['Region'] = df_eqp.apply(lambda x: re.sub('\.\.', '', x.Region).strip(), axis = 1)
df_eqp['Region'] = df_eqp.apply(lambda x: re.sub('\(.*?\)', '', x.Region).strip(), axis = 1)

In [ ]:
df_eqp.info()

In [ ]:
df_eqp

In [ ]:
df5 = pd.merge(df4,df_eqp, how = 'outer')
df5

In [ ]:
df6 = df5.copy()
df6

In [3]:
Reg_list = [Reg_CAR, Reg_1, Reg_2, Reg_3, Reg_4A, Reg_4B, Reg_5, Reg_6, Reg_7, Reg_8, Reg_9, Reg_10, Reg_11, Reg_12, Reg_13, Reg_ARMM]

In [ ]:
for i in range(0, 10191):
    #FOR CAR
    if df6['Province'][i] in Reg_list[0] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Plow'].min())/len(Reg_list[0])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Harrow'].min())/len(Reg_list[0])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Sprayers'].sum())/len(Reg_list[0])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Tractors'].sum())/len(Reg_list[0])
    elif df6['Province'][i] in Reg_list[0] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Plow'].min())/len(Reg_list[0])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Harrow'].min())/len(Reg_list[0])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Sprayers'].min())/len(Reg_list[0])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Tractors'].min())/len(Reg_list[0])
    elif df6['Province'][i] in Reg_list[0] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Plow'].min())/len(Reg_list[0])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Harrow'].min())/len(Reg_list[0])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Sprayers'].min())/len(Reg_list[0])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Tractors'].min())/len(Reg_list[0])
   
    #FOR REGION I    
    elif df6['Province'][i] in Reg_list[1] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION I')]['Plow'].min())/len(Reg_list[1])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION I')]['Harrow'].min())/len(Reg_list[1])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION I')]['Sprayers'].min())/len(Reg_list[1])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION I')]['Tractors'].min())/len(Reg_list[1])
    elif df6['Province'][i] in Reg_list[1] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION I')]['Plow'].min())/len(Reg_list[1])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION I')]['Harrow'].min())/len(Reg_list[1])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION I')]['Sprayers'].min())/len(Reg_list[1])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION I')]['Tractors'].min())/len(Reg_list[1])
    elif df6['Province'][i] in Reg_list[1] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION I')]['Plow'].min())/len(Reg_list[1])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION I')]['Harrow'].min())/len(Reg_list[1])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION I')]['Sprayers'].min())/len(Reg_list[1])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION I')]['Tractors'].min())/len(Reg_list[1])
    
    #FOR REGION II
    elif df6['Province'][i] in Reg_list[2] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION II')]['Plow'].min())/len(Reg_list[2])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION II')]['Harrow'].min())/len(Reg_list[2])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION II')]['Sprayers'].min())/len(Reg_list[2])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION II')]['Tractors'].min())/len(Reg_list[2])
    elif df6['Province'][i] in Reg_list[2] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION II')]['Plow'].min())/len(Reg_list[2])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION II')]['Harrow'].min())/len(Reg_list[2])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION II')]['Sprayers'].min())/len(Reg_list[2])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION II')]['Tractors'].min())/len(Reg_list[2])
    elif df6['Province'][i] in Reg_list[2] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION II')]['Plow'].min())/len(Reg_list[2])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION II')]['Harrow'].min())/len(Reg_list[2])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION II')]['Sprayers'].min())/len(Reg_list[2])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION II')]['Tractors'].min())/len(Reg_list[2])    
    
    #FOR REGION III   
    elif df6['Province'][i] in Reg_list[3] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION III')]['Plow'].min())/len(Reg_list[3])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION III')]['Harrow'].min())/len(Reg_list[3])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION III')]['Sprayers'].min())/len(Reg_list[3])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION III')]['Tractors'].min())/len(Reg_list[3])
    elif df6['Province'][i] in Reg_list[3] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION III')]['Plow'].min())/len(Reg_list[3])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION III')]['Harrow'].min())/len(Reg_list[3])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION III')]['Sprayers'].min())/len(Reg_list[3])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION III')]['Tractors'].min())/len(Reg_list[3])
    elif df6['Province'][i] in Reg_list[3] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION III')]['Plow'].min())/len(Reg_list[3])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION III')]['Harrow'].min())/len(Reg_list[3])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION III')]['Sprayers'].min())/len(Reg_list[3])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION III')]['Tractors'].min())/len(Reg_list[3])

    
    #FOR REGION IV-A  
    elif df6['Province'][i] in Reg_list[4] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IV-A')]['Plow'].min())/len(Reg_list[4])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IV-A')]['Harrow'].min())/len(Reg_list[4])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IV-A')]['Sprayers'].min())/len(Reg_list[4])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IV-A')]['Tractors'].min())/len(Reg_list[4])
    elif df6['Province'][i] in Reg_list[4] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IV-A')]['Plow'].min())/len(Reg_list[4])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IV-A')]['Harrow'].min())/len(Reg_list[4])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IV-A')]['Sprayers'].min())/len(Reg_list[4])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IV-A')]['Tractors'].min())/len(Reg_list[4])
    elif df6['Province'][i] in Reg_list[4] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IV-A')]['Plow'].min())/len(Reg_list[4])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IV-A')]['Harrow'].min())/len(Reg_list[4])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IV-A')]['Sprayers'].min())/len(Reg_list[4])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IV-A')]['Tractors'].min())/len(Reg_list[4])
    
    #FOR REGION IV-B  
    elif df6['Province'][i] in Reg_list[5] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='MIMAROPA REGION')]['Plow'].min())/len(Reg_list[5])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='MIMAROPA REGION')]['Harrow'].min())/len(Reg_list[5])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='MIMAROPA REGION')]['Sprayers'].min())/len(Reg_list[5])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='MIMAROPA REGION')]['Tractors'].min())/len(Reg_list[5])
    elif df6['Province'][i] in Reg_list[5] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='MIMAROPA REGION')]['Plow'].min())/len(Reg_list[5])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='MIMAROPA REGION')]['Harrow'].min())/len(Reg_list[5])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='MIMAROPA REGION')]['Sprayers'].min())/len(Reg_list[5])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='MIMAROPA REGION')]['Tractors'].min())/len(Reg_list[5])
    elif df6['Province'][i] in Reg_list[5] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='MIMAROPA REGION')]['Plow'].min())/len(Reg_list[5])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='MIMAROPA REGION')]['Harrow'].min())/len(Reg_list[5])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='MIMAROPA REGION')]['Sprayers'].min())/len(Reg_list[5])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='MIMAROPA REGION')]['Tractors'].min())/len(Reg_list[5])
        
    #FOR REGION V    
    elif df6['Province'][i] in Reg_list[6] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION V')]['Plow'].min())/len(Reg_list[6])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION V')]['Harrow'].min())/len(Reg_list[6])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION V')]['Sprayers'].min())/len(Reg_list[6])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION V')]['Tractors'].min())/len(Reg_list[6])
    elif df6['Province'][i] in Reg_list[6] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION V')]['Plow'].min())/len(Reg_list[6])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION V')]['Harrow'].min())/len(Reg_list[6])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION V')]['Sprayers'].min())/len(Reg_list[6])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION V')]['Tractors'].min())/len(Reg_list[6])
    elif df6['Province'][i] in Reg_list[6] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION V')]['Plow'].min())/len(Reg_list[6])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION V')]['Harrow'].min())/len(Reg_list[6])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION V')]['Sprayers'].min())/len(Reg_list[6])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION V')]['Tractors'].min())/len(Reg_list[6])
    
    #FOR REGION VI    
    elif df6['Province'][i] in Reg_list[7] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VI')]['Plow'].min())/len(Reg_list[7])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VI')]['Harrow'].min())/len(Reg_list[7])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VI')]['Sprayers'].min())/len(Reg_list[7])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VI')]['Tractors'].min())/len(Reg_list[7])
    elif df6['Province'][i] in Reg_list[7] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VI')]['Plow'].min())/len(Reg_list[7])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VI')]['Harrow'].min())/len(Reg_list[7])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VI')]['Sprayers'].min())/len(Reg_list[7])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VI')]['Tractors'].min())/len(Reg_list[7])
    elif df6['Province'][i] in Reg_list[7] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VI')]['Plow'].min())/len(Reg_list[7])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VI')]['Harrow'].min())/len(Reg_list[7])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VI')]['Sprayers'].min())/len(Reg_list[7])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VI')]['Tractors'].min())/len(Reg_list[7])
    
    #FOR REGION VII    
    elif df6['Province'][i] in Reg_list[8] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VII')]['Plow'].min())/len(Reg_list[8])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VII')]['Harrow'].min())/len(Reg_list[8])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VII')]['Sprayers'].min())/len(Reg_list[8])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VII')]['Tractors'].min())/len(Reg_list[8])
    elif df6['Province'][i] in Reg_list[8] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VII')]['Plow'].min())/len(Reg_list[8])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VII')]['Harrow'].min())/len(Reg_list[8])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VII')]['Sprayers'].min())/len(Reg_list[8])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VII')]['Tractors'].min())/len(Reg_list[8])
    elif df6['Province'][i] in Reg_list[8] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VII')]['Plow'].min())/len(Reg_list[8])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VII')]['Harrow'].min())/len(Reg_list[8])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VII')]['Sprayers'].min())/len(Reg_list[8])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VII')]['Tractors'].min())/len(Reg_list[8])
        
    #FOR REGION VIII    
    elif df6['Province'][i] in Reg_list[9] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VIII')]['Plow'].min())/len(Reg_list[9])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VIII')]['Harrow'].min())/len(Reg_list[9])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VIII')]['Sprayers'].min())/len(Reg_list[9])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION VIII')]['Tractors'].min())/len(Reg_list[9])
    elif df6['Province'][i] in Reg_list[9] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VIII')]['Plow'].min())/len(Reg_list[9])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VIII')]['Harrow'].min())/len(Reg_list[9])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VIII')]['Sprayers'].min())/len(Reg_list[9])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION VIII')]['Tractors'].min())/len(Reg_list[9])
    elif df6['Province'][i] in Reg_list[9] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VIII')]['Plow'].min())/len(Reg_list[9])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VIII')]['Harrow'].min())/len(Reg_list[9])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VIII')]['Sprayers'].min())/len(Reg_list[9])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION VIII')]['Tractors'].min())/len(Reg_list[9])
    
    #FOR REGION IX    
    elif df6['Province'][i] in Reg_list[10] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IX')]['Plow'].min())/len(Reg_list[10])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IX')]['Harrow'].min())/len(Reg_list[10])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IX')]['Sprayers'].min())/len(Reg_list[10])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION IX')]['Tractors'].min())/len(Reg_list[10])
    elif df6['Province'][i] in Reg_list[10] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IX')]['Plow'].min())/len(Reg_list[10])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IX')]['Harrow'].min())/len(Reg_list[10])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IX')]['Sprayers'].min())/len(Reg_list[10])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION IX')]['Tractors'].min())/len(Reg_list[10])
    elif df6['Province'][i] in Reg_list[10] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IX')]['Plow'].min())/len(Reg_list[10])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IX')]['Harrow'].min())/len(Reg_list[10])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IX')]['Sprayers'].min())/len(Reg_list[10])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION IX')]['Tractors'].min())/len(Reg_list[10])
        
    #FOR REGION X    
    elif df6['Province'][i] in Reg_list[11] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION X')]['Plow'].min())/len(Reg_list[11])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION X')]['Harrow'].min())/len(Reg_list[11])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION X')]['Sprayers'].min())/len(Reg_list[11])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION X')]['Tractors'].min())/len(Reg_list[11])
    elif df6['Province'][i] in Reg_list[11] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION X')]['Plow'].min())/len(Reg_list[11])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION X')]['Harrow'].min())/len(Reg_list[11])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION X')]['Sprayers'].min())/len(Reg_list[11])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION X')]['Tractors'].min())/len(Reg_list[11])
    elif df6['Province'][i] in Reg_list[11] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION X')]['Plow'].min())/len(Reg_list[11])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION X')]['Harrow'].min())/len(Reg_list[11])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION X')]['Sprayers'].min())/len(Reg_list[11])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION X')]['Tractors'].min())/len(Reg_list[11])
        
    #FOR REGION XI  
    elif df6['Province'][i] in Reg_list[12] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XI')]['Plow'].min())/len(Reg_list[12])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XI')]['Harrow'].min())/len(Reg_list[12])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XI')]['Sprayers'].min())/len(Reg_list[12])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XI')]['Tractors'].min())/len(Reg_list[12])
    elif df6['Province'][i] in Reg_list[12] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XI')]['Plow'].min())/len(Reg_list[12])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XI')]['Harrow'].min())/len(Reg_list[12])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XI')]['Sprayers'].min())/len(Reg_list[12])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XI')]['Tractors'].min())/len(Reg_list[12])
    elif df6['Province'][i] in Reg_list[12] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XI')]['Plow'].min())/len(Reg_list[12])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XI')]['Harrow'].min())/len(Reg_list[12])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XI')]['Sprayers'].min())/len(Reg_list[12])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XI')]['Tractors'].min())/len(Reg_list[12])
    
    #FOR REGION XII    
    elif df6['Province'][i] in Reg_list[13] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XII')]['Plow'].min())/len(Reg_list[13])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XII')]['Harrow'].min())/len(Reg_list[13])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XII')]['Sprayers'].min())/len(Reg_list[13])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XII')]['Tractors'].min())/len(Reg_list[13])
    elif df6['Province'][i] in Reg_list[13] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XII')]['Plow'].min())/len(Reg_list[13])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XII')]['Harrow'].min())/len(Reg_list[13])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XII')]['Sprayers'].min())/len(Reg_list[13])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XII')]['Tractors'].min())/len(Reg_list[13])
    elif df6['Province'][i] in Reg_list[13] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XII')]['Plow'].min())/len(Reg_list[13])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XII')]['Harrow'].min())/len(Reg_list[13])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XII')]['Sprayers'].min())/len(Reg_list[13])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XII')]['Tractors'].min())/len(Reg_list[13])
        
    #FOR REGION XIII  
    elif df6['Province'][i] in Reg_list[14] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XIII')]['Plow'].min())/len(Reg_list[14])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XIII')]['Harrow'].min())/len(Reg_list[14])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XIII')]['Sprayers'].min())/len(Reg_list[14])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='REGION XIII')]['Tractors'].min())/len(Reg_list[14])
    elif df6['Province'][i] in Reg_list[14] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XIII')]['Plow'].min())/len(Reg_list[14])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XIII')]['Harrow'].min())/len(Reg_list[14])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XIII')]['Sprayers'].min())/len(Reg_list[14])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='REGION XIII')]['Tractors'].min())/len(Reg_list[14])
    elif df6['Province'][i] in Reg_list[14] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XIII')]['Plow'].min())/len(Reg_list[14])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XIII')]['Harrow'].min())/len(Reg_list[14])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XIII')]['Sprayers'].min())/len(Reg_list[14])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='REGION XIII')]['Tractors'].min())/len(Reg_list[14])
        
    #FOR REGION ARMM    
    elif df6['Province'][i] in Reg_list[15] and df6['Year'][i] < 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Plow'].min())/len(Reg_list[15])
        df6['Harrow'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Harrow'].min())/len(Reg_list[15])
        df6['Sprayers'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Sprayers'].min())/len(Reg_list[15])
        df6['Tractors'][i] = (df6[(df6['Year']==1980)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Tractors'].min())/len(Reg_list[15])
    elif df6['Province'][i] in Reg_list[15] and 1991 < df6['Year'][i] < 2002:
        df6['Plow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Plow'].min())/len(Reg_list[15])
        df6['Harrow'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Harrow'].min())/len(Reg_list[15])
        df6['Sprayers'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Sprayers'].min())/len(Reg_list[15])
        df6['Tractors'][i] = (df6[(df6['Year']==1991)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Tractors'].min())/len(Reg_list[15])
    elif df6['Province'][i] in Reg_list[15] and df6['Year'][i] > 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Plow'].min())/len(Reg_list[15])
        df6['Harrow'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Harrow'].min())/len(Reg_list[15])
        df6['Sprayers'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Sprayers'].min())/len(Reg_list[15])
        df6['Tractors'][i] = (df6[(df6['Year']==2002)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Tractors'].min())/len(Reg_list[15])

In [ ]:
for i in range(0, 10191):
    #FOR CAR
    if df6['Province'][i] in Reg_list[0] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Plow'].min())#/len(Reg_list[0])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Harrow'].min())#/len(Reg_list[0])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Sprayers'].min())#/len(Reg_list[0])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Tractors'].min())#/len(Reg_list[0])
    elif df6['Province'][i] in Reg_list[0] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Plow'].min())#/len(Reg_list[0])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Harrow'].min())#/len(Reg_list[0])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Sprayers'].min())#/len(Reg_list[0])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Tractors'].min())#/len(Reg_list[0])
   
    #FOR REGION I    
    elif df6['Province'][i] in Reg_list[1] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION I')]['Plow'].min())#/len(Reg_list[1])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION I')]['Harrow'].min())#/len(Reg_list[1])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION I')]['Sprayers'].min())#/len(Reg_list[1])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION I')]['Tractors'].min())#/len(Reg_list[1])
    elif df6['Province'][i] in Reg_list[1] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION I')]['Plow'].min())#/len(Reg_list[1])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION I')]['Harrow'].min())#/len(Reg_list[1])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION I')]['Sprayers'].min())#/len(Reg_list[1])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION I')]['Tractors'].min())#/len(Reg_list[1])
    
    #FOR REGION II
    elif df6['Province'][i] in Reg_list[2] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION II')]['Plow'].min())#/len(Reg_list[2])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION II')]['Harrow'].min())#/len(Reg_list[2])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION II')]['Sprayers'].min())#/len(Reg_list[2])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION II')]['Tractors'].min())#/len(Reg_list[2])
    elif df6['Province'][i] in Reg_list[2] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION II')]['Plow'].min())#/len(Reg_list[2])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION II')]['Harrow'].min())#/len(Reg_list[2])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION II')]['Sprayers'].min())#/len(Reg_list[2])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION II')]['Tractors'].min())#/len(Reg_list[2])    
    
    #FOR REGION III   
    elif df6['Province'][i] in Reg_list[3] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION III')]['Plow'].min())#/len(Reg_list[3])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION III')]['Harrow'].min())#/len(Reg_list[3])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION III')]['Sprayers'].min())#/len(Reg_list[3])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION III')]['Tractors'].min())#/len(Reg_list[3])
    elif df6['Province'][i] in Reg_list[3] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION III')]['Plow'].min())#/len(Reg_list[3])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION III')]['Harrow'].min())#/len(Reg_list[3])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION III')]['Sprayers'].min())#/len(Reg_list[3])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION III')]['Tractors'].min())#/len(Reg_list[3])
    
    #FOR REGION IV-A  
    elif df6['Province'][i] in Reg_list[4] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IV-A')]['Plow'].min())#/len(Reg_list[4])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IV-A')]['Harrow'].min())#/len(Reg_list[4])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IV-A')]['Sprayers'].min())#/len(Reg_list[4])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IV-A')]['Tractors'].min())#/len(Reg_list[4])
    elif df6['Province'][i] in Reg_list[4] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IV-A')]['Plow'].min())#/len(Reg_list[4])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IV-A')]['Harrow'].min())#/len(Reg_list[4])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IV-A')]['Sprayers'].min())#/len(Reg_list[4])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IV-A')]['Tractors'].min())#/len(Reg_list[4])
    
    #FOR REGION IV-B  
    elif df6['Province'][i] in Reg_list[5] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='MIMAROPA REGION')]['Plow'].min())#/len(Reg_list[5])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='MIMAROPA REGION')]['Harrow'].min())#/len(Reg_list[5])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='MIMAROPA REGION')]['Sprayers'].min())#/len(Reg_list[5])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='MIMAROPA REGION')]['Tractors'].min())#/len(Reg_list[5])
    elif df6['Province'][i] in Reg_list[5] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='MIMAROPA REGION')]['Plow'].min())#/len(Reg_list[5])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='MIMAROPA REGION')]['Harrow'].min())#/len(Reg_list[5])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='MIMAROPA REGION')]['Sprayers'].min())#/len(Reg_list[5])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='MIMAROPA REGION')]['Tractors'].min())#/len(Reg_list[5])
        
    #FOR REGION V    
    elif df6['Province'][i] in Reg_list[6] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION V')]['Plow'].min())#/len(Reg_list[6])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION V')]['Harrow'].min())#/len(Reg_list[6])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION V')]['Sprayers'].min())#/len(Reg_list[6])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION V')]['Tractors'].min())#/len(Reg_list[6])
    elif df6['Province'][i] in Reg_list[6] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION V')]['Plow'].min())#/len(Reg_list[6])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION V')]['Harrow'].min())#/len(Reg_list[6])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION V')]['Sprayers'].min())#/len(Reg_list[6])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION V')]['Tractors'].min())#/len(Reg_list[6])
    
    #FOR REGION VI    
    elif df6['Province'][i] in Reg_list[7] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VI')]['Plow'].min())#/len(Reg_list[7])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VI')]['Harrow'].min())#/len(Reg_list[7])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VI')]['Sprayers'].min())#/len(Reg_list[7])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VI')]['Tractors'].min())#/len(Reg_list[7])
    elif df6['Province'][i] in Reg_list[7] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VI')]['Plow'].min())#/len(Reg_list[7])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VI')]['Harrow'].min())#/len(Reg_list[7])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VI')]['Sprayers'].min())#/len(Reg_list[7])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VI')]['Tractors'].min())#/len(Reg_list[7])
    
    #FOR REGION VII    
    elif df6['Province'][i] in Reg_list[8] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VII')]['Plow'].min())#/len(Reg_list[8])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VII')]['Harrow'].min())#/len(Reg_list[8])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VII')]['Sprayers'].min())#/len(Reg_list[8])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VII')]['Tractors'].min())#/len(Reg_list[8])
    elif df6['Province'][i] in Reg_list[8] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VII')]['Plow'].min())#/len(Reg_list[8])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VII')]['Harrow'].min())#/len(Reg_list[8])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VII')]['Sprayers'].min())#/len(Reg_list[8])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VII')]['Tractors'].min())#/len(Reg_list[8])
        
    #FOR REGION VIII    
    elif df6['Province'][i] in Reg_list[9] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VIII')]['Plow'].min())#/len(Reg_list[9])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VIII')]['Harrow'].min())#/len(Reg_list[9])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VIII')]['Sprayers'].min())#/len(Reg_list[9])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION VIII')]['Tractors'].min())#/len(Reg_list[9])
    elif df6['Province'][i] in Reg_list[9] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VIII')]['Plow'].min())#/len(Reg_list[9])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VIII')]['Harrow'].min())#/len(Reg_list[9])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VIII')]['Sprayers'].min())#/len(Reg_list[9])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION VIII')]['Tractors'].min())#/len(Reg_list[9])
    
    #FOR REGION IX    
    elif df6['Province'][i] in Reg_list[10] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IX')]['Plow'].min())#/len(Reg_list[10])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IX')]['Harrow'].min())#/len(Reg_list[10])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IX')]['Sprayers'].min())#/len(Reg_list[10])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION IX')]['Tractors'].min())#/len(Reg_list[10])
    elif df6['Province'][i] in Reg_list[10] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IX')]['Plow'].min())#/len(Reg_list[10])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IX')]['Harrow'].min())#/len(Reg_list[10])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IX')]['Sprayers'].min())#/len(Reg_list[10])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION IX')]['Tractors'].min())#/len(Reg_list[10])
        
    #FOR REGION X    
    elif df6['Province'][i] in Reg_list[11] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION X')]['Plow'].min())#/len(Reg_list[11])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION X')]['Harrow'].min())#/len(Reg_list[11])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION X')]['Sprayers'].min())#/len(Reg_list[11])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION X')]['Tractors'].min())#/len(Reg_list[11])
    elif df6['Province'][i] in Reg_list[11] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION X')]['Plow'].min())#/len(Reg_list[11])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION X')]['Harrow'].min())#/len(Reg_list[11])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION X')]['Sprayers'].min())#/len(Reg_list[11])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION X')]['Tractors'].min())#/len(Reg_list[11])
        
    #FOR REGION XI  
    elif df6['Province'][i] in Reg_list[12] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XI')]['Plow'].min())#/len(Reg_list[12])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XI')]['Harrow'].min())#/len(Reg_list[12])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XI')]['Sprayers'].min())#/len(Reg_list[12])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XI')]['Tractors'].min())#/len(Reg_list[12])
    elif df6['Province'][i] in Reg_list[12] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XI')]['Plow'].min())#/len(Reg_list[12])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XI')]['Harrow'].min())#/len(Reg_list[12])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XI')]['Sprayers'].min())#/len(Reg_list[12])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XI')]['Tractors'].min())#/len(Reg_list[12])
    
    #FOR REGION XII    
    elif df6['Province'][i] in Reg_list[13] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XII')]['Plow'].min())#/len(Reg_list[13])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XII')]['Harrow'].min())#/len(Reg_list[13])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XII')]['Sprayers'].min())#/len(Reg_list[13])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XII')]['Tractors'].min())#/len(Reg_list[13])
    elif df6['Province'][i] in Reg_list[13] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XII')]['Plow'].min())#/len(Reg_list[13])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XII')]['Harrow'].min())#/len(Reg_list[13])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XII')]['Sprayers'].min())#/len(Reg_list[13])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XII')]['Tractors'].min())#/len(Reg_list[13])
        
    #FOR REGION XIII  
    elif df6['Province'][i] in Reg_list[14] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XIII')]['Plow'].min())#/len(Reg_list[14])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XIII')]['Harrow'].min())#/len(Reg_list[14])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XIII')]['Sprayers'].min())#/len(Reg_list[14])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='REGION XIII')]['Tractors'].min())#/len(Reg_list[14])
    elif df6['Province'][i] in Reg_list[14] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XIII')]['Plow'].min())#/len(Reg_list[14])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XIII')]['Harrow'].min())#/len(Reg_list[14])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XIII')]['Sprayers'].min())#/len(Reg_list[14])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='REGION XIII')]['Tractors'].min())#/len(Reg_list[14])
        
    #FOR REGION ARMM    
    elif df6['Province'][i] in Reg_list[15] and df6['Year'][i] == 1991:
        df6['Plow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Plow'].min())#/len(Reg_list[15])
        df6['Harrow'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Harrow'].min())#/len(Reg_list[15])
        df6['Sprayers'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Sprayers'].min())#/len(Reg_list[15])
        df6['Tractors'][i] = (df6[(df6['Year']==1990)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Tractors'].min())#/len(Reg_list[15])
    elif df6['Province'][i] in Reg_list[15] and df6['Year'][i] == 2002:
        df6['Plow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Plow'].min())#/len(Reg_list[15])
        df6['Harrow'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Harrow'].min())#/len(Reg_list[15])
        df6['Sprayers'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Sprayers'].min())#/len(Reg_list[15])
        df6['Tractors'][i] = (df6[(df6['Year']==2001)&(df6['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Tractors'].min())#/len(Reg_list[15])

In [ ]:
df6.info()

In [ ]:
df6['Plow'] = df6['Plow'].astype(int)
df6['Harrow'] = df6['Harrow'].astype(int)
df6['Sprayers'] = df6['Sprayers'].astype(int)
df6['Tractors'] = df6['Tractors'].astype(int)

In [ ]:
df7 = df6.copy()

In [ ]:
df7 = df7.dropna()

In [ ]:
df8 = df7.copy()
df8

In [ ]:
df_agrifacil = pd.read_excel('PH_Agrifacil_Province.xlsx')[2:]
df_agrifacil

In [ ]:
df_agrifacil = df_agrifacil.rename(columns = {'Unnamed: 0':'Province','Unnamed: 1':'Rice Mills','Unnamed: 2':'Agricultural Processing Facilities',})
df_agrifacil

In [ ]:
df_agrifacil['Province'] = df_agrifacil.apply(lambda x: re.sub('\.\.\.\.', '', x.Province).strip(), axis = 1)
df_agrifacil['Province'] = df_agrifacil.apply(lambda x: re.sub('\(.*?\)', '', x.Province).strip(), axis = 1)

In [ ]:
df_agrifacil['Province'].unique()

In [ ]:
df9 = pd.merge(df8, df_agrifacil, how = 'outer')
df9 = df9.dropna()
df9

In [ ]:
df_irrig = pd.read_excel('PH_Irrigation_Province.xlsx')[2:]
df_irrig

In [ ]:
df_irrig = df_irrig.rename(columns = {'Unnamed: 0':'Region','Unnamed: 1':'Year','Unnamed: 2':'Irrigated Farms'})
df_irrig

In [ ]:
df_irrig['Region'] = df_irrig.apply(lambda x: re.sub('\.\.', '', x.Region).strip(), axis = 1)
df_irrig['Region'] = df_irrig.apply(lambda x: re.sub('\(.*?\)', '', x.Region).strip(), axis = 1)

In [ ]:
df10 = df9.merge(df_irrig, how = 'outer')
df10

In [ ]:
df11 = df10.copy()

In [ ]:
for i in range(0, 10191):
    #FOR CAR
    if df11['Province'][i] in Reg_list[0] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())/len(Reg_list[0])
    elif df11['Province'][i] in Reg_list[0] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())/len(Reg_list[0])
    elif df11['Province'][i] in Reg_list[0] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())/len(Reg_list[0])
    elif df11['Province'][i] in Reg_list[0] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())/len(Reg_list[0])    

    #FOR REG1
    elif df11['Province'][i] in Reg_list[1] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())/len(Reg_list[1])
    elif df11['Province'][i] in Reg_list[1] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())/len(Reg_list[1])
    elif df11['Province'][i] in Reg_list[1] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())/len(Reg_list[1])
    elif df11['Province'][i] in Reg_list[1] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())/len(Reg_list[1])    

    #FOR REG2
    elif df11['Province'][i] in Reg_list[2] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())/len(Reg_list[2])
    elif df11['Province'][i] in Reg_list[2] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())/len(Reg_list[2])
    elif df11['Province'][i] in Reg_list[2] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())/len(Reg_list[2])
    elif df11['Province'][i] in Reg_list[2] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())/len(Reg_list[2])    

    #FOR REG3
    elif df11['Province'][i] in Reg_list[3] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())/len(Reg_list[3])
    elif df11['Province'][i] in Reg_list[3] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())/len(Reg_list[3])
    elif df11['Province'][i] in Reg_list[3] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())/len(Reg_list[3])
    elif df11['Province'][i] in Reg_list[3] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())/len(Reg_list[3])    
        
    #FOR REG4A
    elif df11['Province'][i] in Reg_list[4] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())/len(Reg_list[4])
    elif df11['Province'][i] in Reg_list[4] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())/len(Reg_list[4])
    elif df11['Province'][i] in Reg_list[4] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())/len(Reg_list[4])
    elif df11['Province'][i] in Reg_list[4] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())/len(Reg_list[4])    
    
    #FOR REG4B
    elif df11['Province'][i] in Reg_list[5] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())/len(Reg_list[5])
    elif df11['Province'][i] in Reg_list[5] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())/len(Reg_list[5])
    elif df11['Province'][i] in Reg_list[5] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())/len(Reg_list[5])
    elif df11['Province'][i] in Reg_list[5] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())/len(Reg_list[5])    

    #FOR REG5
    elif df11['Province'][i] in Reg_list[6] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())/len(Reg_list[6])
    elif df11['Province'][i] in Reg_list[6] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())/len(Reg_list[6])
    elif df11['Province'][i] in Reg_list[6] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())/len(Reg_list[6])
    elif df11['Province'][i] in Reg_list[6] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())/len(Reg_list[6])

    #FOR REG6
    elif df11['Province'][i] in Reg_list[7] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())/len(Reg_list[7])
    elif df11['Province'][i] in Reg_list[7] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())/len(Reg_list[7])
    elif df11['Province'][i] in Reg_list[7] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())/len(Reg_list[7])
    elif df11['Province'][i] in Reg_list[7] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())/len(Reg_list[7])
        
    #FOR REG7
    elif df11['Province'][i] in Reg_list[8] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())/len(Reg_list[8])
    elif df11['Province'][i] in Reg_list[8] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())/len(Reg_list[8])
    elif df11['Province'][i] in Reg_list[8] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())/len(Reg_list[8])
    elif df11['Province'][i] in Reg_list[8] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())/len(Reg_list[8])
        
    #FOR REG8
    elif df11['Province'][i] in Reg_list[9] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())/len(Reg_list[9])
    elif df11['Province'][i] in Reg_list[9] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())/len(Reg_list[9])
    elif df11['Province'][i] in Reg_list[9] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())/len(Reg_list[9])
    elif df11['Province'][i] in Reg_list[9] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())/len(Reg_list[9])

    #FOR REG9
    elif df11['Province'][i] in Reg_list[10] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())/len(Reg_list[10])
    elif df11['Province'][i] in Reg_list[10] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())/len(Reg_list[10])
    elif df11['Province'][i] in Reg_list[10] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())/len(Reg_list[10])
    elif df11['Province'][i] in Reg_list[10] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())/len(Reg_list[10])        

    #FOR REG10
    elif df11['Province'][i] in Reg_list[11] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())/len(Reg_list[11])
    elif df11['Province'][i] in Reg_list[11] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())/len(Reg_list[11])
    elif df11['Province'][i] in Reg_list[11] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())/len(Reg_list[11])
    elif df11['Province'][i] in Reg_list[11] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())/len(Reg_list[11])     

    #FOR REG11
    elif df11['Province'][i] in Reg_list[12] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())/len(Reg_list[12])
    elif df11['Province'][i] in Reg_list[12] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())/len(Reg_list[12])
    elif df11['Province'][i] in Reg_list[12] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())/len(Reg_list[12])
    elif df11['Province'][i] in Reg_list[12] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())/len(Reg_list[12])  

    #FOR REG12
    elif df11['Province'][i] in Reg_list[13] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())/len(Reg_list[13])
    elif df11['Province'][i] in Reg_list[13] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())/len(Reg_list[13])
    elif df11['Province'][i] in Reg_list[13] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())/len(Reg_list[13])
    elif df11['Province'][i] in Reg_list[13] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())/len(Reg_list[13])        
        
    #FOR REG13
    elif df11['Province'][i] in Reg_list[14] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())/len(Reg_list[14])
    elif df11['Province'][i] in Reg_list[14] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())/len(Reg_list[14])
    elif df11['Province'][i] in Reg_list[14] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())/len(Reg_list[14])
    elif df11['Province'][i] in Reg_list[14] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())/len(Reg_list[14])  
        
    #FOR ARMM
    elif df11['Province'][i] in Reg_list[15] and df11['Year'][i] < 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1980)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())/len(Reg_list[15])
    elif df11['Province'][i] in Reg_list[15] and 1991 < df11['Year'][i] < 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1991)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())/len(Reg_list[15])
    elif df11['Province'][i] in Reg_list[15] and 2002 < df11['Year'][i] < 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2002)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())/len(Reg_list[15])
    elif df11['Province'][i] in Reg_list[15] and df10['Year'][i] > 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2012)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())/len(Reg_list[15])

In [ ]:
for i in range(0, 10191):
    #FOR CAR
    if df11['Province'][i] in Reg_list[0] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[0] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[0] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='CORDILLERA ADMINISTRATIVE REGION')]['Irrigated Farms'].min())

    #FOR REG1
    elif df11['Province'][i] in Reg_list[1] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[1] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[1] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION I')]['Irrigated Farms'].min())

    #FOR REG2
    elif df11['Province'][i] in Reg_list[2] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[2] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[2] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION II')]['Irrigated Farms'].min())

    #FOR REG3
    elif df11['Province'][i] in Reg_list[3] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[3] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[3] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION III')]['Irrigated Farms'].min())
        
    #FOR REG4A
    elif df11['Province'][i] in Reg_list[4] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[4] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[4] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION IV-A')]['Irrigated Farms'].min())
    
    #FOR REG4B
    elif df11['Province'][i] in Reg_list[5] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[5] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[5] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='MIMAROPA REGION')]['Irrigated Farms'].min())

    #FOR REG5
    elif df11['Province'][i] in Reg_list[6] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[6] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[6] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION V')]['Irrigated Farms'].min())

    #FOR REG6
    elif df11['Province'][i] in Reg_list[7] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[7] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[7] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION VI')]['Irrigated Farms'].min())
        
    #FOR REG7
    elif df11['Province'][i] in Reg_list[8] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[8] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[8] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION VII')]['Irrigated Farms'].min())
        
    #FOR REG8
    elif df11['Province'][i] in Reg_list[9] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[9] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[9] and df10['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION VIII')]['Irrigated Farms'].min())

    #FOR REG9
    elif df11['Province'][i] in Reg_list[10] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[10] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[10] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION IX')]['Irrigated Farms'].min())

    #FOR REG10
    elif df11['Province'][i] in Reg_list[11] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[11] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[11] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION X')]['Irrigated Farms'].min())

    #FOR REG11
    elif df11['Province'][i] in Reg_list[12] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[12] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[12] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION XI')]['Irrigated Farms'].min())

    #FOR REG12
    elif df11['Province'][i] in Reg_list[13] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[13] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[13] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION XII')]['Irrigated Farms'].min())
        
    #FOR REG13
    elif df11['Province'][i] in Reg_list[14] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[14] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[14] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='REGION XIII')]['Irrigated Farms'].min())
        
    #FOR ARMM
    elif df11['Province'][i] in Reg_list[15] and df11['Year'][i] == 1991:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==1990)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[15] and df11['Year'][i] == 2002:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2001)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())
    elif df11['Province'][i] in Reg_list[15] and df11['Year'][i] == 2012:
        df11['Irrigated Farms'][i] = (df11[(df11['Year']==2011)&(df11['Region']=='AUTONOMOUS REGION IN MUSLIM MINDANAO')]['Irrigated Farms'].min())

In [ ]:
df11 = df11.dropna()
df11

In [ ]:
df_dealers = pd.read_excel('PH_Dealers_prov.xlsx')[2:]
df_dealers

In [ ]:
df_dealers = df_dealers.rename(columns = {'Unnamed: 0':'Province','Unnamed: 1':'Fertilizer Dealers','Unnamed: 2':'Pesticides Dealers'})
df_dealers

In [ ]:
df_dealers['Province'] = df_dealers.apply(lambda x: re.sub('\.\.', '', x.Province).strip(), axis = 1)
df_dealers['Province'] = df_dealers.apply(lambda x: re.sub('\(.*?\)', '', x.Province).strip(), axis = 1)
df_dealers

In [ ]:
df12 = df11.merge(df_dealers, how = 'outer')
df12 = df12.dropna()
df12

In [ ]:
df_calamity = pd.read_excel('PH_Calamities_prov.xlsx')[2:]
df_calamity

In [ ]:
df_calamity = df_calamity.rename(columns = {'Unnamed: 0':'Province',
                                            'Unnamed: 1':'Typhoon',
                                            'Unnamed: 2':'Flood',
                                            'Unnamed: 3':'Earthquake',
                                            'Unnamed: 4':'Volcanic Eruption',
                                            'Unnamed: 5':'Tsunami',
                                            'Unnamed: 6':'Landslide/Mudslide',
                                            'Unnamed: 7':'Infestation/Animal Disease',
                                            'Unnamed: 8':'Drought',
                                            'Unnamed: 9':'Other Disasters'})
df_calamity

In [ ]:
df_calamity['Province'] = df_calamity.apply(lambda x: re.sub('\.\.', '', x.Province).strip(), axis = 1)
df_calamity['Province'] = df_calamity.apply(lambda x: re.sub('\(.*?\)', '', x.Province).strip(), axis = 1)
df_calamity

In [ ]:
df13 = df12.merge(df_calamity, how = 'outer')
df13 = df13.dropna()
df13

In [ ]:
df13.info()

In [ ]:
columns = ['Rice Mills', 'Agricultural Processing Facilities', 'Irrigated Farms', 'Fertilizer Dealers','Pesticides Dealers','Typhoon','Flood','Earthquake',
          'Volcanic Eruption','Tsunami','Landslide/Mudslide','Infestation/Animal Disease',
          'Drought','Other Disasters']

In [ ]:
for i in columns:
    df13[i] = df13[i].astype(int)

In [ ]:
df13.info()

In [4]:
import glob, os

In [5]:
def multi_csv_reader(foldername):
    # the path to your csv file directory
    region_dir = foldername

    # get all the csv files in that directory (assuming they have the extension .csv)
    csvfiles = glob.glob(os.path.join(region_dir, '*.csv'))

    # loop through the files and read them in with pandas
    dataframes = []  # a list to hold all the individual pandas DataFrames
    for csvfile in csvfiles:
        df = pd.read_csv(csvfile)
        dataframes.append(df)

    # concatenate them all together
    result = pd.concat(dataframes, ignore_index=True)

    # print out to a new csv file
    return result.to_csv('output_csv/' + foldername + '_all.csv')

In [6]:
def reg_clm_edit(data, Region):
    df_ = pd.read_csv(data)
    df_ = df_.drop(columns = ['wind_dir_16pt'])
    df_ = df_.drop([12])
    df_= df_.groupby(np.arange(len(df_))//3).mean()
    df_['Region'] = Region
    df_['Quarter'] = ''
    df_['Quarter'][0] = 'Quarter 1'
    df_['Quarter'][1] = 'Quarter 2'
    df_['Quarter'][2] = 'Quarter 3'
    df_['Quarter'][3] = 'Quarter 4'
    
    return df_

In [7]:
def avg_reg_clm_edit(data, Region):
    df_ = pd.read_csv(data)
    df_ = df_.drop(columns = ['Unnamed: 0'])
    df_= df_.groupby(np.arange(len(df_))//3).mean()
    df_['Region'] = Region
    df_['Quarter'] = ''
    df_['Quarter'][0] = 'Quarter 1'
    df_['Quarter'][1] = 'Quarter 2'
    df_['Quarter'][2] = 'Quarter 3'
    df_['Quarter'][3] = 'Quarter 4'
    
    return df_

In [8]:
def prov_clm_edit(data, Province, Region):
    df_ = pd.read_csv(data)
    df_ = df_.drop(columns = ['wind_dir_16pt'])
    df_ = df_.drop([12])
    df_= df_.groupby(np.arange(len(df_))//3).mean()
    df_['Province'] = Province
    df_['Region'] = Region
    df_['Quarter'] = ''
    df_['Quarter'][0] = 'Quarter 1'
    df_['Quarter'][1] = 'Quarter 2'
    df_['Quarter'][2] = 'Quarter 3'
    df_['Quarter'][3] = 'Quarter 4'
    
    return df_

In [9]:
def avg_prov_clm_edit(data, Province, Region):
    df_ = pd.read_csv(data)
    df_= df_.groupby(np.arange(len(df_))//3).mean()
    df_ = df_.drop(columns = ['Unnamed: 0'])
    df_['Province'] = Province
    df_['Region'] = Region
    df_['Quarter'] = ''
    df_['Quarter'][0] = 'Quarter 1'
    df_['Quarter'][1] = 'Quarter 2'
    df_['Quarter'][2] = 'Quarter 3'
    df_['Quarter'][3] = 'Quarter 4'
    
    return df_

In [ ]:
df_CAR = reg_clm_edit('PH_CORDILLERA ADMINISTRATIVE REGION/Benguet_rainfall.csv', 'CORDILLERA ADMINISTRATIVE REGION')
df_CAR

In [ ]:
df14 = pd.merge(df13,df_CAR, how='outer')

In [ ]:
df14

In [ ]:
df_IlocosNorte = prov_clm_edit('PH_REGION 1 (ILOCOS REGION)/Ilocos Norte_rainfall.csv', 'Ilocos Norte', 'REGION I')
df_IlocosNorte

In [10]:
cols = ['Province','rainfall_amount', 'rainfall_number_of_rd', 'temp_max', 'temp_min',
       'temp_mean', 'temp_dry_bulb', 'temp_wet_bulb', 'temp_dew_pt',
       'vapor_pressure_mbs', 'rel_hum', 'mslp', 'wind_spd_mps',
       'cloud_amount_okta', 'number_of_days_with_tstm',
       'number_of_days_with_ltng']

cols_y = ['rainfall_amount_y','rainfall_number_of_rd_y', 'temp_max_y', 'temp_min_y', 'temp_mean_y',
       'temp_dry_bulb_y', 'temp_wet_bulb_y', 'temp_dew_pt_y',
       'vapor_pressure_mbs_y', 'rel_hum_y', 'mslp_y', 'wind_spd_mps_y',
       'cloud_amount_okta_y', 'number_of_days_with_tstm_y',
       'number_of_days_with_ltng_y', 'Province_y']

In [11]:
def edit_csv(df):
    df = df.rename(columns={'Province_x':'Province','rainfall_amount_x':'rainfall_amount', 'rainfall_number_of_rd_x':'rainfall_number_of_rd',
                            'temp_max_x':'temp_max', 'temp_min_x':'temp_min', 'temp_mean_x':'temp_mean', 'temp_dry_bulb_x':'temp_dry_bulb',
                            'temp_wet_bulb_x':'temp_wet_bulb', 'temp_dew_pt_x':'temp_dew_pt', 'vapor_pressure_mbs_x':'vapor_pressure_mbs',
                            'rel_hum_x':'rel_hum', 'mslp_x':'mslp', 'wind_spd_mps_x':'wind_spd_mps', 'cloud_amount_okta_x':'cloud_amount_okta',
                            'number_of_days_with_tstm_x':'number_of_days_with_tstm', 'number_of_days_with_ltng_x':'number_of_days_with_ltng'})
    
    return df

In [ ]:
df15 = df14.merge(df_IlocosNorte, how='outer', on=['Region', 'Quarter'])
df15 = edit_csv(df15)
df = df15
for i in cols:
        df[i][764:797] = df[i+'_y'][764:797]
        df[i][896:929] = df[i+'_y'][896:929]
        df[i][1025:1058] = df[i+'_y'][1025:1058]
        df[i][1157:1190] = df[i+'_y'][1157:1190]
df = df.drop(columns = cols_y)
df15 = df
# df15.to_csv('df15.csv')

In [ ]:
df_IlocosSur = prov_clm_edit('PH_REGION 1 (ILOCOS REGION)/Ilocos Sur_rainfall.csv', 'Ilocos Sur', 'REGION I')
df_IlocosSur

In [ ]:
df16 = df15.merge(df_IlocosSur, how='outer', on=['Region', 'Quarter'])
df16 = edit_csv(df16)
df = df16
for i in cols:
        df[i][797:830] = df[i+'_y'][797:830]
        df[i][929:959] = df[i+'_y'][929:959]
        df[i][1058:1091] = df[i+'_y'][1058:1091]
        df[i][1190:1223] = df[i+'_y'][1190:1223]
df = df.drop(columns = cols_y)
df16 = df
# df16.to_csv('df16.csv')

In [ ]:
df_Pangasinan = prov_clm_edit('PH_REGION 1 (ILOCOS REGION)/Pangasinan_rainfall.csv', 'Pangasinan', 'REGION I')
df_Pangasinan

In [ ]:
df17 = df16.merge(df_Pangasinan, how='outer', on=['Region', 'Quarter'])
df17 = edit_csv(df17)
df = df17
for i in cols:
        df[i][863:896] = df[i+'_y'][863:896]
        df[i][992:1025] = df[i+'_y'][992:1025]
        df[i][1124:1157] = df[i+'_y'][1124:1157]
        df[i][1256:1289] = df[i+'_y'][1256:1289]
df = df.drop(columns = cols_y)
df17 = df
# df17.to_csv('df17.csv')

In [ ]:
multi_csv_reader('PH_REGION 1 (ILOCOS REGION)')
df = pd.read_csv('output_csv/PH_REGION 1 (ILOCOS REGION)_all.csv')
df

In [12]:
index = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December']
def grp(df):
    grp = df.agg({'rainfall_amount':'mean', 'rainfall_number_of_rd':'mean', 'temp_max':'mean', 'temp_min':'mean',
       'temp_mean':'mean', 'temp_dry_bulb':'mean', 'temp_wet_bulb':'mean', 'temp_dew_pt':'mean',
       'vapor_pressure_mbs':'mean', 'rel_hum':'mean', 'mslp':'mean',
       'wind_spd_mps':'mean', 'cloud_amount_okta':'mean', 'number_of_days_with_tstm':'mean',
       'number_of_days_with_ltng':'mean'})
    return grp

In [13]:
def avg_val(df):
    df = df.drop(columns = ['Unnamed: 0'])
    df = df.set_index('month')
    df = df.groupby(level=0)
    df = grp(df)
    df = df.reindex(index).reset_index()
    return df

In [14]:
def avg_val_prov(df):
    df = df.set_index('month')
    df = df.groupby(level=0)
    df = grp(df)
    df = df.reindex(index).reset_index()
    return df

In [ ]:
df = df.drop([12,25,38])
df = avg_val(df)
df.to_csv('avg_output/La Union_rainfall.csv')

In [ ]:
df_LaUnion = avg_prov_clm_edit('avg_output/La Union_rainfall.csv', 'La Union', 'REGION I')
df_LaUnion

In [ ]:
df = df17.merge(df_LaUnion, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][830:863] = df[i+'_y'][830:863]
        df[i][959:992] = df[i+'_y'][959:992]
        df[i][1091:1124] = df[i+'_y'][1091:1124]
        df[i][1223:1256] = df[i+'_y'][1223:1256]
df = df.drop(columns = cols_y)
df18 = df
# df18.to_csv('df18.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION II (CAGAYAN REGION)/Batanes_rainfall.csv')
df2 = pd.read_csv('PH_REGION II (CAGAYAN REGION)/Batanes2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Batanes_avg_rainfall.csv')

In [ ]:
df_Batanes = avg_prov_clm_edit('avg_output/Batanes_avg_rainfall.csv', 'Batanes', 'REGION II')
df_Batanes

In [ ]:
df = df18.merge(df_Batanes, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][1289:1297] = df[i+'_y'][1289:1297]
        df[i][1429:1437] = df[i+'_y'][1429:1437]
        df[i][1569:1576] = df[i+'_y'][1569:1576]
        df[i][1708:1710] = df[i+'_y'][1708:1710]
        
df = df.drop(columns = cols_y)
df19 = df
# df19.to_csv('df19.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION II (CAGAYAN REGION)/Cagayan_rainfall.csv')
df2 = pd.read_csv('PH_REGION II (CAGAYAN REGION)/Cagayan2_rainfall.csv')
df3 = pd.read_csv('PH_REGION II (CAGAYAN REGION)/Cagayan3_rainfall.csv')
df = pd.concat([df1,df2,df3], ignore_index = True)
df

In [ ]:
df = df.drop([12,25,38])
df = avg_val_prov(df)
df.to_csv('avg_output/Cagayan_avg_rainfall.csv')

In [ ]:
df_Cagayan = avg_prov_clm_edit('avg_output/Cagayan_avg_rainfall.csv', 'Cagayan', 'REGION II')
df_Cagayan

In [ ]:
df = df19.merge(df_Cagayan, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][1297:1330] = df[i+'_y'][1297:1330]
        df[i][1437:1470] = df[i+'_y'][1437:1470]
        df[i][1576:1609] = df[i+'_y'][1576:1609]
        df[i][1710:1743] = df[i+'_y'][1710:1743]
        
df = df.drop(columns = cols_y)
df20 = df
# df20.to_csv('df20.csv')

In [ ]:
multi_csv_reader('PH_REGION II (CAGAYAN REGION)')
df = pd.read_csv('output_csv/PH_REGION II (CAGAYAN REGION)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64])
df = avg_val_prov(df)
df.to_csv('avg_output/reg2_rainfall.csv')

In [ ]:
df_r2avg = avg_reg_clm_edit('avg_output/reg2_rainfall.csv', 'REGION II')
df_r2avg

In [15]:
cols_reg = ['rainfall_amount',
 'rainfall_number_of_rd',
 'temp_max',
 'temp_min',
 'temp_mean',
 'temp_dry_bulb',
 'temp_wet_bulb',
 'temp_dew_pt',
 'vapor_pressure_mbs',
 'rel_hum',
 'mslp',
 'wind_spd_mps',
 'cloud_amount_okta',
 'number_of_days_with_tstm',
 'number_of_days_with_ltng']

cols_yreg = ['rainfall_amount_y',
 'rainfall_number_of_rd_y',
 'temp_max_y',
 'temp_min_y',
 'temp_mean_y',
 'temp_dry_bulb_y',
 'temp_wet_bulb_y',
 'temp_dew_pt_y',
 'vapor_pressure_mbs_y',
 'rel_hum_y',
 'mslp_y',
 'wind_spd_mps_y',
 'cloud_amount_okta_y',
 'number_of_days_with_tstm_y',
 'number_of_days_with_ltng_y',]

In [ ]:
df = df20.merge(df_r2avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][1330:1429] = df[i+'_y'][1330:1429]
        df[i][1470:1569] = df[i+'_y'][1470:1569]
        df[i][1609:1708] = df[i+'_y'][1609:1708]
        df[i][1743:1842] = df[i+'_y'][1743:1842]       
df = df.drop(columns = cols_yreg)
df21 = df
# df21.to_csv('df21.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION III (CENTRAL LUZON)/Aurora_rainfall.csv')
df2 = pd.read_csv('PH_REGION III (CENTRAL LUZON)/Aurora2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Aurora_avg_rainfall.csv')

In [ ]:
df_Aurora = avg_prov_clm_edit('avg_output/Aurora_avg_rainfall.csv', 'Aurora', 'REGION III')
df_Aurora

In [ ]:
df = df21.merge(df_Aurora, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][1842:1875] = df[i+'_y'][1842:1875]
        df[i][2073:2106] = df[i+'_y'][2073:2106]
        df[i][2304:2337] = df[i+'_y'][2304:2337]
        df[i][2532:2565] = df[i+'_y'][2532:2565]       
df = df.drop(columns = cols_y)
df22 = df
# df22.to_csv('df22.csv')

In [ ]:
df_NuevaEcija = prov_clm_edit('PH_REGION III (CENTRAL LUZON)/Nueva Ecija_rainfall.csv', 'Nueva Ecija', 'REGION III')
df_NuevaEcija

In [ ]:
df = df22.merge(df_NuevaEcija, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][1941:1974] = df[i+'_y'][1941:1974]
        df[i][2172:2205] = df[i+'_y'][2172:2205]
        df[i][2401:2434] = df[i+'_y'][2401:2434]
        df[i][2631:2664] = df[i+'_y'][2631:2664]
df = df.drop(columns = cols_y)
df23 = df
# df23.to_csv('df23.csv')

In [ ]:
df_Pampanga = prov_clm_edit('PH_REGION III (CENTRAL LUZON)/Pampanga_rainfall.csv', 'Pampanga', 'REGION III')
df_Pampanga

In [ ]:
df = df23.merge(df_Pampanga, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][1974:2007] = df[i+'_y'][1974:2007]
        df[i][2205:2238] = df[i+'_y'][2205:2238]
        df[i][2434:2467] = df[i+'_y'][2434:2467]
        df[i][2664:2697] = df[i+'_y'][2664:2697]
df = df.drop(columns = cols_y)
df24 = df
df24.to_csv('df24.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION III (CENTRAL LUZON)/Zambales_rainfall.csv')
df2 = pd.read_csv('PH_REGION III (CENTRAL LUZON)/Zambales2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Zambales_avg_rainfall.csv')

In [ ]:
df_Zambales = avg_prov_clm_edit('avg_output/Zambales_avg_rainfall.csv', 'Zambales', 'REGION III')
df_Zambales

In [ ]:
df = df24.merge(df_Zambales, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][2040:2073] = df[i+'_y'][2040:2073]
        df[i][2271:2304] = df[i+'_y'][2271:2304]
        df[i][2500:2532] = df[i+'_y'][2500:2532]
        df[i][2730:2763] = df[i+'_y'][2730:2763]       
df = df.drop(columns = cols_y)
df25 = df
# df25.to_csv('df25.csv')

In [ ]:
multi_csv_reader('PH_REGION III (CENTRAL LUZON)')
df = pd.read_csv('output_csv/PH_REGION III (CENTRAL LUZON)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64,77])
df = avg_val_prov(df)
df.to_csv('avg_output/reg3_rainfall.csv')

In [ ]:
df_r3avg = avg_reg_clm_edit('avg_output/reg3_rainfall.csv', 'REGION III')
df_r3avg

In [ ]:
df = df25.merge(df_r3avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][1875:1941] = df[i+'_y'][1875:1941]
        df[i][2007:2040] = df[i+'_y'][2007:2040]
        df[i][2106:2172] = df[i+'_y'][2106:2172]
        df[i][2238:2271] = df[i+'_y'][2238:2271]
        df[i][2337:2401] = df[i+'_y'][2337:2401]
        df[i][2467:2500] = df[i+'_y'][2467:2500]
        df[i][2565:2631] = df[i+'_y'][2565:2631]
        df[i][2697:2730] = df[i+'_y'][2697:2730]
df = df.drop(columns = cols_yreg)
df26 = df
# df26.to_csv('df26.csv')

In [ ]:
df_Batangas = prov_clm_edit('PH_REGION IV-A (CALABARZON)/Batangas_rainfall.csv', 'Batangas', 'REGION IV-A')
df_Batangas

In [ ]:
df = df26.merge(df_Batangas, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][2763:2796] = df[i+'_y'][2763:2796]
        df[i][2928:2961] = df[i+'_y'][2928:2961]
        df[i][3093:3126] = df[i+'_y'][3093:3126]
        df[i][3258:3291] = df[i+'_y'][3258:3291]
df = df.drop(columns = cols_y)
df27 = df
# df27.to_csv('df27.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Cavite_rainfall.csv')
df2 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Cavite2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Cavite_avg_rainfall.csv')

In [ ]:
df_Cavite = avg_prov_clm_edit('avg_output/Cavite_avg_rainfall.csv', 'Cavite', 'REGION IV-A')
df_Cavite

In [ ]:
df = df27.merge(df_Cavite, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][2796:2829] = df[i+'_y'][2796:2829]
        df[i][2961:2994] = df[i+'_y'][2961:2994]
        df[i][3126:3159] = df[i+'_y'][3126:3159]
        df[i][3291:3324] = df[i+'_y'][3291:3324]       
df = df.drop(columns = cols_y)
df28 = df
# df28.to_csv('df28.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Quezon_rainfall.csv')
df2 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Quezon2_rainfall.csv')
df3 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Quezon3_rainfall.csv')
df = pd.concat([df1,df2,df3], ignore_index = True)
df

In [ ]:
df = df.drop([12,25,38])
df = avg_val_prov(df)
df.to_csv('avg_output/Quezon_avg_rainfall.csv')

In [ ]:
df_Quezon = avg_prov_clm_edit('avg_output/Quezon_avg_rainfall.csv', 'Quezon', 'REGION IV-A')
df_Quezon

In [ ]:
df = df28.merge(df_Quezon, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][2862:2895] = df[i+'_y'][2862:2895]
        df[i][3027:3060] = df[i+'_y'][3027:3060]
        df[i][3192:3225] = df[i+'_y'][3192:3225]
        df[i][3357:3390] = df[i+'_y'][3357:3390]       
df = df.drop(columns = cols_y)
df29 = df
# df29.to_csv('df29.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Rizal_rainfall.csv')
df2 = pd.read_csv('PH_REGION IV-A (CALABARZON)/Rizal2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Rizal_avg_rainfall.csv')

In [ ]:
df_Rizal = avg_prov_clm_edit('avg_output/Rizal_avg_rainfall.csv', 'Rizal', 'REGION IV-A')
df_Rizal

In [ ]:
df = df29.merge(df_Rizal, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][2895:2928] = df[i+'_y'][2895:2928]
        df[i][3060:3093] = df[i+'_y'][3060:3093]
        df[i][3225:3258] = df[i+'_y'][3225:3258]
        df[i][3390:3423] = df[i+'_y'][3390:3423]       
df = df.drop(columns = cols_y)
df30 = df
# df30.to_csv('df30.csv')

In [ ]:
multi_csv_reader('PH_REGION IV-A (CALABARZON)')
df = pd.read_csv('output_csv/PH_REGION IV-A (CALABARZON)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64,77,90,103])
df = avg_val_prov(df)
df.to_csv('avg_output/reg4_rainfall.csv')

In [ ]:
df_r4avg = avg_reg_clm_edit('avg_output/reg4_rainfall.csv', 'REGION IV-A')
df_r4avg

In [ ]:
df = df30.merge(df_r4avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][2829:2862] = df[i+'_y'][2829:2862]
        df[i][2994:3027] = df[i+'_y'][2994:3027]
        df[i][3159:3192] = df[i+'_y'][3159:3192]
        df[i][3324:3357] = df[i+'_y'][3324:3357]

df = df.drop(columns = cols_yreg)
df31 = df
# df31.to_csv('df31.csv')

In [ ]:
# df31 = pd.read_csv('df31.csv')
# df31

In [ ]:
df_OccMindoro = prov_clm_edit('PH_REGION IV-B (MIMAROPA)/Occidental Mindoro_rainfall.csv', 'Occidental Mindoro', 'MIMAROPA REGION')
df_OccMindoro

In [ ]:
df = df31.merge(df_OccMindoro, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][3456:3488] = df[i+'_y'][3456:3488]
        df[i][3620:3653] = df[i+'_y'][3620:3653]
        df[i][3776:3806] = df[i+'_y'][3776:3806]
        df[i][3938:3971] = df[i+'_y'][3938:3971]
df = df.drop(columns = cols_y)
df32 = df
df32.to_csv('df32.csv')

In [ ]:
df_OrMindoro = prov_clm_edit('PH_REGION IV-B (MIMAROPA)/Oriental Mindoro_rainfall.csv', 'Oriental Mindoro', 'MIMAROPA REGION')
df_OrMindoro

In [ ]:
df = df32.merge(df_OrMindoro, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][3488:3521] = df[i+'_y'][3488:3521]
        df[i][3653:3686] = df[i+'_y'][3653:3686]
        df[i][3806:3839] = df[i+'_y'][3806:3839]
        df[i][3971:4004] = df[i+'_y'][3971:4004]
df = df.drop(columns = cols_y)
df33 = df
df33.to_csv('df33.csv')

In [ ]:
# df33 = df33.drop(columns = ['Unnamed: 0'])
# df33

In [ ]:
df1 = pd.read_csv('PH_REGION IV-B (MIMAROPA)/Palawan_rainfall.csv')
df2 = pd.read_csv('PH_REGION IV-B (MIMAROPA)/Palawan2_rainfall.csv')
df3 = pd.read_csv('PH_REGION IV-B (MIMAROPA)/Palawan3_rainfall.csv')
df = pd.concat([df1,df2,df3], ignore_index = True)
df

In [ ]:
df = df.drop([12,25,38])
df = avg_val_prov(df)
df.to_csv('avg_output/Palawan_avg_rainfall.csv')

In [ ]:
df_Palawan = avg_prov_clm_edit('avg_output/Palawan_avg_rainfall.csv', 'Palawan', 'MIMAROPA REGION')
df_Palawan

In [ ]:
df = df33.merge(df_Palawan, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][3521:3554] = df[i+'_y'][3521:3554]
        df[i][3686:3716] = df[i+'_y'][3686:3716]
        df[i][3839:3872] = df[i+'_y'][3839:3872]
        df[i][4004:4037] = df[i+'_y'][4004:4037]
df = df.drop(columns = cols_y)
df34 = df
df34.to_csv('df34.csv')

In [ ]:
df_Romblon = prov_clm_edit('PH_REGION IV-B (MIMAROPA)/Romblon_rainfall.csv', 'Romblon', 'MIMAROPA REGION')
df_Romblon

In [ ]:
df = df34.merge(df_Romblon, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][3554:3587] = df[i+'_y'][3554:3587]
        df[i][3716:3744] = df[i+'_y'][3716:3744]
        df[i][3872:3905] = df[i+'_y'][3872:3905]
        df[i][4037:4070] = df[i+'_y'][4037:4070]
df = df.drop(columns = cols_y)
df35 = df
df35.to_csv('df35.csv')

In [ ]:
multi_csv_reader('PH_REGION IV-B (MIMAROPA)')
df = pd.read_csv('output_csv/PH_REGION IV-B (MIMAROPA)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64,77])
df = avg_val_prov(df)
df.to_csv('avg_output/reg4B_rainfall.csv')

In [ ]:
df_r4Bavg = avg_reg_clm_edit('avg_output/reg4B_rainfall.csv', 'MIMAROPA REGION')
df_r4Bavg

In [ ]:
df = df35.merge(df_r4Bavg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][3423:3456] = df[i+'_y'][3423:3456]
        df[i][3587:3620] = df[i+'_y'][3587:3620]
        df[i][3744:3776] = df[i+'_y'][3744:3776]
        df[i][3905:3938] = df[i+'_y'][3905:3938]

df = df.drop(columns = cols_yreg)
df36 = df
df36.to_csv('df36.csv')

In [ ]:
df_Albay = prov_clm_edit('PH_REGION V (BICOL REGION)/Albay_rainfall.csv', 'Albay', 'REGION V')
df_Albay

In [ ]:
df = df36.merge(df_Albay, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][4070:4103] = df[i+'_y'][4070:4103]
        df[i][4268:4301] = df[i+'_y'][4268:4301]
        df[i][4446:4499] = df[i+'_y'][4446:4499]
        df[i][4662:4695] = df[i+'_y'][4662:4695]
df = df.drop(columns = cols_y)
df37 = df
df37.to_csv('df37.csv')

In [ ]:
df_CamNorte = prov_clm_edit('PH_REGION V (BICOL REGION)/Camarines Norte_rainfall.csv', 'Camarines Norte', 'REGION V')
df_CamNorte

In [ ]:
df = df37.merge(df_CamNorte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][4103:4136] = df[i+'_y'][4103:4136]
        df[i][4301:4334] = df[i+'_y'][4301:4334]
        df[i][4499:4532] = df[i+'_y'][4499:4532]
        df[i][4695:4728] = df[i+'_y'][4695:4728]
df = df.drop(columns = cols_y)
df38 = df
df38.to_csv('df38.csv')

In [ ]:
df1 = pd.read_csv('PH_REGION V (BICOL REGION)/Catanduanes_rainfall.csv')
df2 = pd.read_csv('PH_REGION V (BICOL REGION)/Catanduanes2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Catanduanes_avg_rainfall.csv')

In [ ]:
df_Catanduanes = avg_prov_clm_edit('avg_output/Catanduanes_avg_rainfall.csv', 'Catanduanes', 'REGION V')
df_Catanduanes

In [ ]:
df = df38.merge(df_Catanduanes, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][4169:4202] = df[i+'_y'][4169:4202]
        df[i][4367:4400] = df[i+'_y'][4367:4400]
        df[i][4565:4598] = df[i+'_y'][4565:4598]
        df[i][4761:4794] = df[i+'_y'][4761:4794]
df = df.drop(columns = cols_y)
df39 = df
df39.to_csv('df39.csv')

In [ ]:
df_Masbate = prov_clm_edit('PH_REGION V (BICOL REGION)/Masbate_rainfall.csv', 'Masbate', 'REGION V')
df_Masbate

In [ ]:
df = df39.merge(df_Masbate, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][4202:4235] = df[i+'_y'][4202:4235]
        df[i][4400:4433] = df[i+'_y'][4400:4433]
        df[i][4598:4629] = df[i+'_y'][4598:4629]
        df[i][4794:4827] = df[i+'_y'][4794:4827]
df = df.drop(columns = cols_y)
df40 = df
df40.to_csv('df40.csv')

In [ ]:
multi_csv_reader('PH_REGION V (BICOL REGION)')
df = pd.read_csv('output_csv/PH_REGION V (BICOL REGION)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64])
df = avg_val_prov(df)
df.to_csv('avg_output/reg5_rainfall.csv')

In [ ]:
df_r5avg = avg_reg_clm_edit('avg_output/reg5_rainfall.csv', 'REGION V')
df_r5avg

In [ ]:
df = df40.merge(df_r5avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][4136:4169] = df[i+'_y'][4136:4169]
        df[i][4235:4268] = df[i+'_y'][4235:4268]
        df[i][4334:4367] = df[i+'_y'][4334:4367]
        df[i][4433:4446] = df[i+'_y'][4433:4446]
        df[i][4532:4565] = df[i+'_y'][4532:4565]
        df[i][4629:4662] = df[i+'_y'][4629:4662]
        df[i][4728:4761] = df[i+'_y'][4728:4761]
        df[i][4827:4860] = df[i+'_y'][4827:4860]

df = df.drop(columns = cols_yreg)
df41 = df
df41.to_csv('df41.csv')

In [ ]:
df_r6 = reg_clm_edit('PH_REGION VI (WESTERN VISAYAS)/Capiz_rainfall.csv', 'REGION VI')
df_r6

In [ ]:
df = df41.merge(df_r6, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][4860:5624] = df[i+'_y'][4860:5624]
        

df = df.drop(columns = cols_yreg)
df42 = df
df42.to_csv('df42.csv')

In [ ]:
df_cp = df42.copy()

In [ ]:
df_Bohol = prov_clm_edit('PH_REGION VII (CENTRAL VISAYAS)/Bohol_rainfall.csv', 'Bohol', 'REGION VII')
df_Bohol

In [ ]:
df = df42.merge(df_Bohol, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][5624:5657] = df[i+'_y'][5624:5657]
        df[i][5756:5789] = df[i+'_y'][5756:5789]
        df[i][5887:5920] = df[i+'_y'][5887:5920]
        df[i][6018:6051] = df[i+'_y'][6018:6051]
df = df.drop(columns = cols_y)
df43 = df
df43.to_csv('df43.csv')

In [ ]:
df_Cebu = prov_clm_edit('PH_REGION VII (CENTRAL VISAYAS)/Cebu_rainfall.csv', 'Cebu', 'REGION VII')
df_Cebu

In [ ]:
df = df43.merge(df_Cebu, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][5657:5690] = df[i+'_y'][5657:5690]
        df[i][5789:5822] = df[i+'_y'][5789:5822]
        df[i][5920:5953] = df[i+'_y'][5920:5953]
        df[i][6051:6084] = df[i+'_y'][6051:6084]
df = df.drop(columns = cols_y)
df44 = df
df44.to_csv('df44.csv')

In [ ]:
df_NegrosOr = prov_clm_edit('PH_REGION VII (CENTRAL VISAYAS)/Negros Oriental_rainfall.csv', 'Negros Oriental', 'REGION VII')
df_NegrosOr

In [ ]:
df = df44.merge(df_NegrosOr, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][5690:5723] = df[i+'_y'][5690:5723]
        df[i][5822:5855] = df[i+'_y'][5822:5855]
        df[i][5953:5986] = df[i+'_y'][5953:5986]
        df[i][6084:6117] = df[i+'_y'][6084:6117]
df = df.drop(columns = cols_y)
df45 = df
df45.to_csv('df45.csv')

In [ ]:
multi_csv_reader('PH_REGION VII (CENTRAL VISAYAS)')
df = pd.read_csv('output_csv/PH_REGION VII (CENTRAL VISAYAS)_all.csv')
df

In [ ]:
df = df.drop([12,25,38])
df = avg_val_prov(df)
df.to_csv('avg_output/reg7_rainfall.csv')

In [ ]:
df_r7avg = avg_reg_clm_edit('avg_output/reg7_rainfall.csv', 'REGION VII')
df_r7avg

In [ ]:
df = df45.merge(df_r7avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][5723:5756] = df[i+'_y'][5723:5756]
        df[i][5855:5887] = df[i+'_y'][5855:5887]
        df[i][5986:6018] = df[i+'_y'][5986:6018]
        df[i][6117:6149] = df[i+'_y'][6117:6149]
        

df = df.drop(columns = cols_yreg)
df46 = df
df46.to_csv('df46.csv')

In [ ]:
Reg_list[9]

In [ ]:
df1 = pd.read_csv('PH_REGION VIII (EASTERN VISAYAS)/Eastern Samar_rainfall.csv')
df2 = pd.read_csv('PH_REGION VIII (EASTERN VISAYAS)/Eastern Samar2_rainfall.csv')
df = pd.concat([df1,df2], ignore_index = True)
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/Eastern Samar_avg_rainfall.csv')

In [ ]:
df_EastSamar = avg_prov_clm_edit('avg_output/Eastern Samar_avg_rainfall.csv', 'Eastern Samar', 'REGION VIII')
df_EastSamar

In [ ]:
df = df46.merge(df_EastSamar, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][6175:6208] = df[i+'_y'][6175:6208]
        df[i][6366:6399] = df[i+'_y'][6366:6399]
        df[i][6557:6590] = df[i+'_y'][6557:6590]
        df[i][6747:6780] = df[i+'_y'][6747:6780]
df = df.drop(columns = cols_y)
df47 = df
df47.to_csv('df47.csv')

In [ ]:
df_Leyte = prov_clm_edit('PH_REGION VIII (EASTERN VISAYAS)/Leyte_rainfall.csv', 'Leyte', 'REGION VIII')
df_Leyte

In [ ]:
df = df47.merge(df_Leyte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][6208:6241] = df[i+'_y'][6208:6241]
        df[i][6399:6432] = df[i+'_y'][6399:6432]
        df[i][6590:6623] = df[i+'_y'][6590:6623]
        df[i][6780:6813] = df[i+'_y'][6780:6813]
df = df.drop(columns = cols_y)
df48 = df
df48.to_csv('df48.csv')

In [ ]:
df_NorthSamar = prov_clm_edit('PH_REGION VIII (EASTERN VISAYAS)/Northern Samar_rainfall.csv', 'Northern Samar', 'REGION VIII')
df_NorthSamar

In [ ]:
df = df48.merge(df_NorthSamar, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][6241:6274] = df[i+'_y'][6241:6274]
        df[i][6432:6465] = df[i+'_y'][6432:6465]
        df[i][6623:6656] = df[i+'_y'][6623:6656]
        df[i][6813:6846] = df[i+'_y'][6813:6846]
df = df.drop(columns = cols_y)
df49 = df
df49.to_csv('df49.csv')

In [ ]:
df_Samar = prov_clm_edit('PH_REGION VIII (EASTERN VISAYAS)/Samar_rainfall.csv', 'Samar', 'REGION VIII')
df_Samar

In [ ]:
df = df49.merge(df_Samar, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][6274:6307] = df[i+'_y'][6274:6307]
        df[i][6465:6498] = df[i+'_y'][6465:6498]
        df[i][6656:6688] = df[i+'_y'][6656:6688]
        df[i][6846:6879] = df[i+'_y'][6846:6879]
df = df.drop(columns = cols_y)
df50 = df
df50.to_csv('df50.csv')

In [ ]:
df_SouthLeyte = prov_clm_edit('PH_REGION VIII (EASTERN VISAYAS)/Southern Leyte_rainfall.csv', 'Southern Leyte', 'REGION VIII')
df_SouthLeyte

In [ ]:
df = df50.merge(df_SouthLeyte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols:
        df[i][6307:6340] = df[i+'_y'][6307:6340]
        df[i][6498:6531] = df[i+'_y'][6498:6531]
        df[i][6688:6721] = df[i+'_y'][6688:6721]
        df[i][6879:6912] = df[i+'_y'][6879:6912]
df = df.drop(columns = cols_y)
df51 = df
df51.to_csv('df51.csv')

In [ ]:
multi_csv_reader('PH_REGION VIII (EASTERN VISAYAS)')
df = pd.read_csv('output_csv/PH_REGION VIII (EASTERN VISAYAS)_all.csv')
df

In [ ]:
df = df.drop([12,25,38,51,64,77])
df = avg_val_prov(df)
df.to_csv('avg_output/reg8_rainfall.csv')

In [ ]:
df_r8avg = avg_reg_clm_edit('avg_output/reg8_rainfall.csv', 'REGION VIII')
df_r8avg

In [ ]:
df = df51.merge(df_r8avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][6149:6175] = df[i+'_y'][6149:6175]
        df[i][6340:6366] = df[i+'_y'][6340:6366]
        df[i][6531:6557] = df[i+'_y'][6531:6557]
        df[i][6721:6747] = df[i+'_y'][6721:6747]

df = df.drop(columns = cols_yreg)
df52 = df
df52.to_csv('df52.csv')

In [ ]:
df_cp = df52.copy()

In [ ]:
df_ZamNorte = prov_clm_edit('PH_REGION IX (ZAMBOANGA PENINSULA)/Zamboanga del Norte_rainfall.csv', 'Zamboanga del Norte', 'REGION IX')
df_ZamNorte

In [ ]:
df = df52.merge(df_ZamNorte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][6912:6945] = df[i+'_y'][6912:6945]
        df[i][7029:7062] = df[i+'_y'][7029:7062]
        df[i][7146:7179] = df[i+'_y'][7146:7179]
        df[i][7263:7296] = df[i+'_y'][7263:7296]
df = df.drop(columns = cols_y)
df53 = df
df53.to_csv('df53.csv')

In [ ]:
df_ZamSur = prov_clm_edit('PH_REGION IX (ZAMBOANGA PENINSULA)/Zamboanga del Sur_rainfall.csv', 'Zamboanga del Sur', 'REGION IX')
df_ZamSur

In [ ]:
df = df53.merge(df_ZamSur, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][6945:6978] = df[i+'_y'][6945:6978]
        df[i][7062:7095] = df[i+'_y'][7062:7095]
        df[i][7179:7212] = df[i+'_y'][7179:7212]
        df[i][7296:7329] = df[i+'_y'][7296:7329]
df = df.drop(columns = cols_y)
df54 = df
df54.to_csv('df54.csv')

In [ ]:
multi_csv_reader('PH_REGION IX (ZAMBOANGA PENINSULA)')
df = pd.read_csv('output_csv/PH_REGION IX (ZAMBOANGA PENINSULA)_all.csv')
df

In [ ]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/reg9_rainfall.csv')

In [ ]:
df_r9avg = avg_reg_clm_edit('avg_output/reg9_rainfall.csv', 'REGION IX')
df_r9avg

In [ ]:
df = df54.merge(df_r9avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][6978:7029] = df[i+'_y'][6978:7029]
        df[i][7095:7146] = df[i+'_y'][7095:7146]
        df[i][7212:7263] = df[i+'_y'][7212:7263]
        df[i][7329:7380] = df[i+'_y'][7329:7380]

df = df.drop(columns = cols_yreg)
df55 = df
df55.to_csv('df55.csv')

In [18]:
df55 = pd.read_csv('df55.csv')
df55 = df55.drop(columns = ['Unnamed: 0', " "])
df55.columns

Index(['Province', 'Year', 'Quarter', 'Volume (metric tons)',
       'Area Harvested (ha)', 'yield (kg/ha)', 'Region',
       'Fertilizer Applied (bags)', 'Plow', 'Harrow', 'Sprayers', 'Tractors',
       'Rice Mills', 'Agricultural Processing Facilities', 'Irrigated Farms',
       'Fertilizer Dealers', 'Pesticides Dealers', 'Typhoon', 'Flood',
       'Earthquake', 'Volcanic Eruption', 'Tsunami', 'Landslide/Mudslide',
       'Infestation/Animal Disease', 'Drought', 'Other Disasters',
       'rainfall_amount', 'rainfall_number_of_rd', 'temp_max', 'temp_min',
       'temp_mean', 'temp_dry_bulb', 'temp_wet_bulb', 'temp_dew_pt',
       'vapor_pressure_mbs', 'rel_hum', 'mslp', 'wind_spd_mps',
       'cloud_amount_okta', 'number_of_days_with_tstm',
       'number_of_days_with_ltng'],
      dtype='object')

In [19]:
df_Bukidnon = prov_clm_edit('PH_REGION X (NORTHERN MINDANAO)/Bukidnon_rainfall.csv', 'Bukidnon', 'REGION X')
df_Bukidnon

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Province,Region,Quarter
0,120.366667,14.000000,29.666667,17.7,23.666667,23.333333,21.300000,20.433333,23.933333,83.333333,1008.233333,1.0,5.666667,2.000000,1.333333,Bukidnon,REGION X,Quarter 1
1,217.966667,17.666667,30.900000,18.8,24.833333,24.533333,22.366667,21.466667,25.533333,83.000000,1007.933333,1.0,5.666667,11.000000,8.666667,Bukidnon,REGION X,Quarter 2
2,311.133333,23.333333,29.200000,18.8,24.000000,23.566667,22.066667,21.466667,25.533333,88.000000,1008.966667,1.0,7.000000,14.000000,9.333333,Bukidnon,REGION X,Quarter 3
3,207.166667,19.000000,29.700000,18.6,24.133333,23.666667,21.966667,21.266667,25.200000,86.333333,1008.866667,1.0,6.000000,8.333333,7.333333,Bukidnon,REGION X,Quarter 4

In [20]:
df = df55.merge(df_Bukidnon, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][7380:7413] = df[i+'_y'][7380:7413]
        df[i][7545:7578] = df[i+'_y'][7545:7578]
        df[i][7710:7743] = df[i+'_y'][7710:7743]
        df[i][7875:7908] = df[i+'_y'][7875:7908]
df = df.drop(columns = cols_y)
df56 = df
df56.to_csv('df56.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
multi_csv_reader('PH_REGION X (NORTHERN MINDANAO)')
df = pd.read_csv('output_csv/PH_REGION X (NORTHERN MINDANAO)_all.csv')
df

,Unnamed: 0,month,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_dir_16pt,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng
0,0,January,142.5,16,29.0,17.9,23.4,23.0,21.2,20.4,23.9,85,1009.4,S,1,6,1,1
1,1,February,106.1,13,29.4,17.6,23.5,23.1,21.2,20.4,23.9,84,1009.9,E,1,6,2,1
2,2,March,112.5,13,30.6,17.6,24.1,23.9,21.5,20.5,24.0,81,1005.4,S,1,5,3,2
3,3,April,115.6,12,31.7,18.1,24.9,24.6,22.0,20.9,24.6,80,1008.9,S,1,5,6,6
4,4,May,224.8,18,31.2,19.1,25.1,24.9,22.7,21.8,26.1,83,1006.0,S,1,6,14,11
5,5,June,313.5,23,29.8,19.2,24.5,24.1,22.4,21.7,25.9,86,1008.9,S,1,6,13,9
6,6,July,323.3,24,29.0,18.9,24.0,23.6,22.1,21.5,25.6,88,1008.8,S,1,7,14,9
7,7,August,294.4,22,29.1,18.8,23.9,23.5,22.0,21.4,25.4,88,1009.0,S,1,7,13,9
8,8,September,315.7,24,29.5,18.7,24.1,23.6,22.1,21.5,25.6,88,1009.1,S,1,7,15,10
9,9,October,314.7,23,29.6,18.9,24.2,23.7,22.2,21.6,25.7,88,1008.9,S,1,6,15,11
10,10,November,176.1,18,30.0,18.6,24.3,23.8,22.1,21.4,25.4,86,1008.6,S,1,6,7,7
11,11,December,130.7,16,29.5,18.3,23.9,23.5,21.6,20.8,24.5,85,1009.1,S,1,6,3,4
12,12,Annual,2569.9,222,29.9,18.5,24.2,23.8,21.9,21.1,25.0,85,1008.5,S,1,6,106,80
13,13,January,98.9,12,29.6,21.6,25.6,25.0,23.0,22.2,26.7,84,1010.7,N,2,5,2,2
14,14,February,68.0,8,30.2,21.4,25.8,25.2,22.9,22.0,26.3,82,1011.0,N,2,5,2,1
15,15,March,49.8,6,31.3,21.6,26.5,25.9,23.3,22.3,26.8,80,1010.7,N,2,4,4,2
16,16,April,52.6,5,32.5,22.4,27.5,26.9,23.8,22.6,27.3,77,1009.8,N,2,4,7,4
17,17,May,125.0,12,32.9,23.2,28.0,27.3,24.3,23.2,28.3,78,1009.2,N,2,5,17,12
18,18,June,212.7,17,32.0,22.8,27.4,26.5,24.0,23.1,28.1,81,1009.4,S,2,6,18,11
19,19,July,245.6,18,31.6,22.4,27.0,26.1,23.8,22.9,27.9,83,1009.5,S,2,6,17,10
20,20,August,195.8,15,32.1,22.5,27.3,26.4,23.8,22.8,27.7,80,1009.4,S,2,6,13,9
21,21,September,219.7,16,31.8,22.3,27.1,26.1,23.7,22.8,27.6,82,1009.8,S,2,6,17,10
22,22,October,185.9,16,31.4,22.3,26.9,26.1,23.8,22.9,27.9,83,1009.5,S,2,5,16,13
23,23,November,136.0,12,30.9,22.1,26.5,25.9,23.7,22.9,27.8,83,1009.3,S,2,5,10,8
24,24,December,113.2,11,30.1,21.8,26.0,25.5,23.4,22.6,27.3,84,1010.0,N,2,5,5,4
25,25,Annual,1703.3,148,31.4,22.2,26.8,26.1,23.6,22.7,27.5,81,1009.9,N,2,5,128,86

In [27]:
df = df.drop([12,25])
df = avg_val_prov(df)
df.to_csv('avg_output/reg10_rainfall.csv')

In [28]:
df_r10avg = avg_reg_clm_edit('avg_output/reg10_rainfall.csv', 'REGION X')
df_r10avg

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Region,Quarter
0,96.300000,11.333333,30.016667,19.616667,24.816667,24.350000,22.183333,21.300000,25.266667,82.666667,1009.516667,1.5,5.166667,2.333333,1.500000,REGION X,Quarter 1
1,174.033333,14.500000,31.683333,20.800000,26.233333,25.716667,23.200000,22.216667,26.716667,80.833333,1008.700000,1.5,5.333333,12.500000,8.833333,REGION X,Quarter 2
2,265.750000,19.833333,30.516667,20.600000,25.566667,24.883333,22.916667,22.150000,26.633333,84.833333,1009.266667,1.5,6.500000,14.833333,9.500000,REGION X,Quarter 3
3,176.100000,16.000000,30.250000,20.333333,25.300000,24.750000,22.800000,22.033333,26.433333,84.833333,1009.233333,1.5,5.500000,9.333333,7.833333,REGION X,Quarter 4

In [29]:
df = df56.merge(df_r10avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][7413:7512] = df[i+'_y'][7413:7512]
        df[i][7578:7677] = df[i+'_y'][7578:7677]
        df[i][7743:7842] = df[i+'_y'][7743:7842]
        df[i][7908:8007] = df[i+'_y'][7908:8007]

df = df.drop(columns = cols_yreg)
df57 = df
df57.to_csv('df57.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [30]:
df_MisOr = prov_clm_edit('PH_REGION X (NORTHERN MINDANAO)/Misamis Oriental_rainfall.csv', 'Misamis Oriental', 'REGION X')
df_MisOr

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Province,Region,Quarter
0,72.233333,8.666667,30.366667,21.533333,25.966667,25.366667,23.066667,22.166667,26.600000,82.000000,1010.800000,2.0,4.666667,2.666667,1.666667,Misamis Oriental,REGION X,Quarter 1
1,130.100000,11.333333,32.466667,22.800000,27.633333,26.900000,24.033333,22.966667,27.900000,78.666667,1009.466667,2.0,5.000000,14.000000,9.000000,Misamis Oriental,REGION X,Quarter 2
2,220.366667,16.333333,31.833333,22.400000,27.133333,26.200000,23.766667,22.833333,27.733333,81.666667,1009.566667,2.0,6.000000,15.666667,9.666667,Misamis Oriental,REGION X,Quarter 3
3,145.033333,13.000000,30.800000,22.066667,26.466667,25.833333,23.633333,22.800000,27.666667,83.333333,1009.600000,2.0,5.000000,10.333333,8.333333,Misamis Oriental,REGION X,Quarter 4

In [32]:
df = df57.merge(df_MisOr, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][7512:7545] = df[i+'_y'][7512:7545]
        df[i][7677:7710] = df[i+'_y'][7677:7710]
        df[i][7842:7875] = df[i+'_y'][7842:7875]
        df[i][8007:8040] = df[i+'_y'][8007:8040]
df = df.drop(columns = cols_y)
df58 = df
df58.to_csv('df58.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
df_r11 = reg_clm_edit('PH_REGION XI (DAVAO REGION)/Davao del Sur_rainfall.csv', 'REGION XI')
df_r11

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Region,Quarter
0,119.366667,12.333333,31.400000,23.400000,27.433333,26.866667,24.200000,23.200000,28.366667,80.333333,1010.066667,2.000000,5.666667,3.333333,4.000000,REGION XI,Quarter 1
1,156.700000,15.000000,32.466667,24.333333,28.400000,28.033333,25.266667,24.333333,30.300000,79.666667,1009.066667,1.666667,5.666667,12.666667,15.000000,REGION XI,Quarter 2
2,168.466667,15.333333,31.700000,23.933333,27.833333,27.533333,25.100000,24.233333,30.166667,82.333333,1008.966667,1.333333,6.000000,14.000000,16.333333,REGION XI,Quarter 3
3,141.833333,15.333333,31.933333,23.833333,27.866667,27.433333,24.900000,24.000000,29.733333,81.333333,1008.833333,1.666667,6.000000,11.666667,14.000000,REGION XI,Quarter 4

In [36]:
df = df58.merge(df_r11, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][8040:8640] = df[i+'_y'][8040:8640]
        

df = df.drop(columns = cols_yreg)
df59 = df
df59.to_csv('df59.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [37]:
df_r12 = reg_clm_edit('PH_REGION XII (SOCCSKSARGEN)/South Cotobato_rainfall.csv', 'REGION XII')
df_r12

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Region,Quarter
0,63.433333,8.333333,33.400000,22.666667,28.000000,27.900000,24.666667,23.533333,28.833333,76.666667,1007.133333,2.000000,4.666667,1.000000,2.333333,REGION XII,Quarter 1
1,83.800000,10.333333,33.366667,23.233333,28.266667,28.300000,25.366667,24.333333,30.333333,79.000000,1006.600000,1.333333,5.000000,3.333333,7.333333,REGION XII,Quarter 2
2,95.666667,12.333333,31.966667,22.666667,27.333333,27.366667,24.933333,24.100000,29.833333,82.000000,1007.233333,1.000000,6.000000,3.000000,5.666667,REGION XII,Quarter 3
3,77.000000,10.666667,32.900000,22.700000,27.800000,27.800000,25.066667,24.133333,29.933333,80.000000,1006.833333,1.000000,5.000000,3.000000,6.333333,REGION XII,Quarter 4

In [38]:
df = df59.merge(df_r12, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][8640:9140] = df[i+'_y'][8640:9140]
        

df = df.drop(columns = cols_yreg)
df60 = df
df60.to_csv('df60.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [39]:
Reg_list[14]

['Agusan del Norte',
 'Agusan del Sur',
 'Dinagat Islands',
 'Surigao del Norte',
 'Surigao del Sur']

In [40]:
df_AgNorte = prov_clm_edit('PH_REGION XIII (CARAGA)/Agusan del Norte_rainfall.csv', 'Agusan del Norte', 'REGION XIII')
df_AgNorte

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Province,Region,Quarter
0,229.466667,17.666667,30.933333,22.600000,26.733333,26.333333,24.466667,23.766667,29.400000,85.666667,1012.400000,1.000000,6.000000,2.666667,1.666667,Agusan del Norte,REGION XIII,Quarter 1
1,126.400000,14.666667,33.300000,23.900000,28.566667,28.066667,25.666667,24.866667,31.300000,82.333333,1010.700000,1.333333,5.333333,11.666667,11.666667,Agusan del Norte,REGION XIII,Quarter 2
2,125.266667,14.333333,32.800000,23.766667,28.300000,27.866667,25.500000,24.666667,31.000000,82.666667,1010.400000,2.000000,6.000000,12.666667,16.666667,Agusan del Norte,REGION XIII,Quarter 3
3,204.833333,18.000000,31.633333,23.300000,27.466667,27.000000,25.166667,24.533333,30.733333,86.000000,1010.933333,1.333333,6.000000,9.333333,11.666667,Agusan del Norte,REGION XIII,Quarter 4

In [41]:
df = df60.merge(df_AgNorte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][9140:9173] = df[i+'_y'][9140:9173]
        df[i][9282:9315] = df[i+'_y'][9282:9315]
        df[i][9424:9457] = df[i+'_y'][9424:9457]
        df[i][9566:9599] = df[i+'_y'][9566:9599]
df = df.drop(columns = cols_y)
df61 = df
df61.to_csv('df61.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
df_SuriNorte = prov_clm_edit('PH_REGION XIII (CARAGA)/Surigao del Norte_rainfall.csv', 'Surigao del Norte', 'REGION XIII')
df_SuriNorte

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Province,Region,Quarter
0,460.600000,22.666667,30.033333,23.533333,26.766667,26.566667,24.733333,24.066667,29.900000,86.000000,1010.866667,3.0,5.666667,1.000000,0.666667,Surigao del Norte,REGION XIII,Quarter 1
1,166.933333,14.666667,32.433333,24.700000,28.566667,28.366667,25.866667,25.000000,31.600000,81.666667,1009.466667,2.0,4.666667,5.666667,7.333333,Surigao del Norte,REGION XIII,Quarter 2
2,158.666667,14.000000,32.566667,24.633333,28.633333,28.500000,25.766667,24.866667,31.266667,80.333333,1009.100000,2.0,6.000000,6.666667,12.666667,Surigao del Norte,REGION XIII,Quarter 3
3,431.066667,22.000000,30.900000,24.033333,27.466667,27.333333,25.333333,24.633333,30.933333,85.000000,1009.600000,2.0,6.000000,5.666667,6.666667,Surigao del Norte,REGION XIII,Quarter 4

In [44]:
df = df61.merge(df_SuriNorte, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][9206:9239] = df[i+'_y'][9206:9239]
        df[i][9348:9381] = df[i+'_y'][9348:9381]
        df[i][9490:9523] = df[i+'_y'][9490:9523]
        df[i][9632:9665] = df[i+'_y'][9632:9665]
df = df.drop(columns = cols_y)
df62 = df
df62.to_csv('df62.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
df_SuriSur = prov_clm_edit('PH_REGION XIII (CARAGA)/Surigao del Sur_rainfall.csv', 'Surigao del Sur', 'REGION XIII')
df_SuriSur

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Province,Region,Quarter
0,590.733333,23.333333,30.200000,23.066667,26.633333,26.400000,24.733333,24.133333,30.000000,87.000000,1010.800000,2.0,5.666667,1.000000,1.333333,Surigao del Sur,REGION XIII,Quarter 1
1,276.566667,18.000000,32.300000,23.966667,28.133333,27.933333,25.800000,25.100000,31.766667,84.333333,1009.400000,2.0,5.000000,6.333333,9.000000,Surigao del Sur,REGION XIII,Quarter 2
2,204.033333,14.666667,32.833333,23.766667,28.266667,27.966667,25.566667,24.766667,31.100000,82.333333,1008.666667,2.0,5.666667,10.000000,13.333333,Surigao del Sur,REGION XIII,Quarter 3
3,416.966667,20.000000,31.500000,23.466667,27.500000,27.233333,25.333333,24.633333,31.000000,86.000000,1009.133333,2.0,5.000000,6.333333,8.000000,Surigao del Sur,REGION XIII,Quarter 4

In [46]:
df = df62.merge(df_SuriSur, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)

for i in cols:
        df[i][9239:9272] = df[i+'_y'][9239:9272]
        df[i][9381:9414] = df[i+'_y'][9381:9414]
        df[i][9523:9556] = df[i+'_y'][9523:9556]
        df[i][9665:9698] = df[i+'_y'][9665:9698]
df = df.drop(columns = cols_y)
df63 = df
df63.to_csv('df63.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
multi_csv_reader('PH_REGION XIII (CARAGA)')
df = pd.read_csv('output_csv/PH_REGION XIII (CARAGA)_all.csv')
df

,Unnamed: 0,month,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_dir_16pt,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng
0,0,January,318.0,21,30.2,22.5,26.3,25.9,24.4,23.8,29.5,88,1012.4,NW,1,6,2,2
1,1,February,225.0,16,30.8,22.5,26.6,26.2,24.3,23.6,29.1,85,1012.5,NW,1,6,2,1
2,2,March,145.4,16,31.8,22.8,27.3,26.9,24.7,23.9,29.6,84,1012.3,NW,1,6,4,2
3,3,April,109.7,13,33.1,23.5,28.3,27.8,25.4,24.6,30.8,82,1011.3,ESE,1,5,7,6
4,4,May,115.5,14,33.7,24.2,28.9,28.4,25.9,25.1,31.7,82,1010.5,ESE,1,5,14,14
5,5,June,154.0,17,33.1,24.0,28.5,28.0,25.7,24.9,31.4,83,1010.3,ESE,2,6,14,15
6,6,July,143.9,16,32.6,23.7,28.2,27.7,25.5,24.7,31.1,84,1010.3,NNW,2,6,13,16
7,7,August,105.6,13,32.9,23.9,28.4,28.0,25.5,24.6,30.9,82,1010.3,NNW,2,6,11,16
8,8,September,126.3,14,32.9,23.7,28.3,27.9,25.5,24.7,31.0,82,1010.6,NNW,2,6,14,18
9,9,October,178.4,16,32.4,23.6,28.0,27.6,25.5,24.8,31.2,84,1010.6,NW,2,6,15,17
10,10,November,197.9,18,31.7,23.4,27.5,27.0,25.2,24.6,30.8,86,1010.6,NW,1,6,9,12
11,11,December,238.2,20,30.8,22.9,26.9,26.4,24.8,24.2,30.2,88,1011.6,NW,1,6,4,6
12,12,Annual,2057.8,194,32.2,23.4,27.8,27.3,25.2,24.5,30.6,84,1011.1,NW,1,6,109,125
13,13,January,609.4,26,29.4,23.3,26.3,26.2,24.6,24.0,29.8,88,1010.8,NE,3,6,1,1
14,14,February,446.4,21,29.9,23.5,26.7,26.4,24.6,23.9,29.7,86,1011.0,E,3,6,1,0
15,15,March,326.0,21,30.8,23.8,27.3,27.1,25.0,24.3,30.2,84,1010.8,E,3,5,1,1
16,16,April,219.1,17,32.0,24.4,28.2,27.9,25.6,24.8,31.2,83,1010.1,E,2,4,4,3
17,17,May,139.6,13,32.7,24.9,28.8,28.7,26.1,25.2,32.0,81,1009.2,E,2,5,6,9
18,18,June,142.1,14,32.6,24.8,28.7,28.5,25.9,25.0,31.6,81,1009.1,SW,2,5,7,10
19,19,July,171.1,15,32.3,24.6,28.5,28.3,25.7,24.8,31.2,81,1009.1,SW,2,6,7,12
20,20,August,133.9,12,32.7,24.7,28.7,28.6,25.8,24.9,31.3,80,1008.9,SW,2,6,6,12
21,21,September,171.0,15,32.7,24.6,28.7,28.6,25.8,24.9,31.3,80,1009.3,W,2,6,7,14
22,22,October,240.7,19,32.0,24.4,28.2,28.1,25.7,24.9,31.4,82,1009.3,W,2,6,8,12
23,23,November,467.3,22,30.8,24.0,27.4,27.3,25.4,24.7,31.1,86,1009.4,E,2,6,6,6
24,24,December,585.2,25,29.9,23.7,26.8,26.6,24.9,24.3,30.3,87,1010.1,NE,2,6,3,2
25,25,Annual,3651.8,220,31.5,24.2,27.9,27.7,25.4,24.6,30.9,83,1009.8,E,2,6,57,82
26,26,January,776.3,25,29.7,23.0,26.4,26.1,24.6,24.0,29.9,88,1010.5,NE,2,6,1,1
27,27,February,547.6,22,30.1,23.0,26.5,26.3,24.6,24.0,29.7,87,1011.0,NE,2,6,1,1
28,28,March,448.3,23,30.8,23.2,27.0,26.8,25.0,24.4,30.4,86,1010.9,NE,2,5,1,2
29,29,April,318.7,19,31.9,23.7,27.8,27.7,25.6,24.9,31.4,84,1010.0,E,2,4,3,4
30,30,May,252.9,18,32.5,24.2,28.4,28.2,26.0,25.3,32.1,84,1009.2,E,2,5,7,12
31,31,June,258.1,17,32.5,24.0,28.2,27.9,25.8,25.1,31.8,85,1009.0,W,2,6,9,11
32,32,July,218.9,16,32.6,23.8,28.2,27.8,25.5,24.7,31.0,83,1008.6,W,2,6,10,13
33,33,August,186.7,13,33.0,23.9,28.4,28.1,25.6,24.8,31.1,82,1008.5,W,2,6,9,13
34,34,September,206.5,15,32.9,23.6,28.2,28.0,25.6,24.8,31.2,82,1008.9,W,2,5,11,14
35,35,October,270.9,17,32.5,23.6,28.1,27.8,25.6,24.8,31.3,84,1008.8,W,2,5,11,14
36,36,November,424.9,20,31.5,23.5,27.5,27.3,25.4,24.7,31.1,86,1008.8,W,2,5,5,7
37,37,December,555.1,23,30.5,23.3,26.9,26.6,25.0,24.4,30.6,88,1009.8,W,2,5,3,3
38,38,Annual,4464.9,228,31.7,23.6,27.6,27.4,25.3,24.7,31.0,85,1009.5,W,2,5,71,95

In [48]:
df = df.drop([12,25,38])
df = avg_val_prov(df)
df.to_csv('avg_output/reg13_rainfall.csv')

In [49]:
df_r13avg = avg_reg_clm_edit('avg_output/reg13_rainfall.csv', 'REGION XIII')
df_r13avg

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Region,Quarter
0,426.933333,21.222222,30.388889,23.066667,26.711111,26.433333,24.644444,23.988889,29.766667,86.222222,1011.355556,2.000000,5.777778,1.555556,1.222222,REGION XIII,Quarter 1
1,189.966667,15.777778,32.677778,24.188889,28.422222,28.122222,25.777778,24.988889,31.555556,82.777778,1009.855556,1.777778,5.000000,7.888889,9.333333,REGION XIII,Quarter 2
2,162.655556,14.333333,32.733333,24.055556,28.400000,28.111111,25.611111,24.766667,31.122222,81.777778,1009.388889,2.000000,5.888889,9.777778,14.222222,REGION XIII,Quarter 3
3,350.955556,20.000000,31.344444,23.600000,27.477778,27.188889,25.277778,24.600000,30.888889,85.666667,1009.888889,1.777778,5.666667,7.111111,8.777778,REGION XIII,Quarter 4

In [50]:
df = df63.merge(df_r13avg, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][9173:9206] = df[i+'_y'][9173:9206]
        df[i][9272:9282] = df[i+'_y'][9272:9282]
        df[i][9315:9348] = df[i+'_y'][9315:9348]
        df[i][9414:9424] = df[i+'_y'][9414:9424]
        df[i][9457:9490] = df[i+'_y'][9457:9490]
        df[i][9556:9566] = df[i+'_y'][9556:9566]
        df[i][9599:9632] = df[i+'_y'][9599:9632]
        df[i][9698:9709] = df[i+'_y'][9698:9709]
df = df.drop(columns = cols_yreg)
df64 = df
df64.to_csv('df64.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [51]:
df_armm = reg_clm_edit('PH_AUTONOMOUS REGION IN MUSLIM MINDANAO/Maguindanao_rainfall.csv', 'AUTONOMOUS REGION IN MUSLIM MINDANAO')
df_armm

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,rainfall_amount,rainfall_number_of_rd,temp_max,temp_min,temp_mean,temp_dry_bulb,temp_wet_bulb,temp_dew_pt,vapor_pressure_mbs,rel_hum,mslp,wind_spd_mps,cloud_amount_okta,number_of_days_with_tstm,number_of_days_with_ltng,Region,Quarter
0,97.4,9.666667,32.966667,23.100000,28.000000,28.266667,24.666667,23.400000,28.533333,74.333333,1012.333333,2.0,6.666667,5.000000,14.666667,AUTONOMOUS REGION IN MUSLIM MINDANAO,Quarter 1
1,242.5,16.000000,33.033333,23.166667,28.100000,28.366667,24.766667,23.500000,28.733333,74.333333,1012.233333,2.0,6.666667,12.333333,23.666667,AUTONOMOUS REGION IN MUSLIM MINDANAO,Quarter 2
2,275.6,17.000000,32.100000,22.833333,27.466667,27.900000,24.533333,23.333333,28.500000,76.000000,1012.066667,2.0,7.000000,9.000000,24.333333,AUTONOMOUS REGION IN MUSLIM MINDANAO,Quarter 3
3,213.8,14.333333,32.433333,22.866667,27.633333,28.033333,24.600000,23.400000,28.533333,75.333333,1011.533333,2.0,7.000000,9.333333,23.333333,AUTONOMOUS REGION IN MUSLIM MINDANAO,Quarter 4

In [53]:
df = df64.merge(df_armm, how='outer', on=['Region', 'Quarter'])
df = edit_csv(df)
for i in cols_reg:
        df[i][9709:] = df[i+'_y'][9709:]
        

df = df.drop(columns = cols_yreg)
df65 = df
df65.to_csv('df65.csv')

C:\Users\MendozaAllen\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [54]:
df_final = df65.copy()